@charset "UTF-8"

// Variables

$desktopWidth            : 1280px
$smDesktopWidth          : 980px
$tableWidth              : 768px
$phoneWidth              : 480px
$smPhoneWidth            : 320px

  
$app-blue-500            : #57ABE5
$app-blue-600            : #218DD6

$app-darkblue-500        : #2980B9
$app-darkblue-600        : #1174B5

$app-green-500           : #2ECC71
$app-green-600           : #1DB95F

$app-gray-500            : #A7ACBC
$app-gray-600            : #C4C4C4
$app-gray-700            : #A4A4A4

$app-black-500           : #3C3343

$app-orange-500          : #FF9F43

$app-red-500             : #FF3838


.banner__title,
.slider-header,
.theme, .block__theme
  font-weight: 600


// header
.gg-header
  padding: 2rem 0px

.gg-header__title
  font-size: 1rem

.gg-navbar
  padding: 0

.gg-header__img
  width: 50px

body
  background: #F6F8FA
  font-family: 'Open Sans'
  

.banner
  height: 30rem
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(87, 171, 229, 0.2)), to(rgba(87, 171, 229, 0.2))), url("../img/banner.svg")
  background: linear-gradient(0deg, rgba(87, 171, 229, 0.2), rgba(87, 171, 229, 0.2)), url("../img/banner.svg")
  background-repeat: no-repeat
  border-radius: 25px
  text-align: center
  background-size: cover

.banner__texts
  position: relative
  top: 9rem
  color: #ffffff
  font-weight: bold

.banner__title
  font-size: 2rem

.banner__subtitle
  font-size: 1.4rem
  font-style: italic

.myContainer
  padding: 0px 5rem

.slide_1
  background: #Fff
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)
  border-radius: 16px
  padding: 2rem 0px
  text-align: center

.slide_1__image
  margin: auto
  max-width: 20rem
  width: 20rem

.slide_1__img
  width: 100%
  margin: 0 auto

.slide_1__text
  font-weight: 600
  font-size: 1rem
  margin: 2rem auto 1rem auto
  width: 80%


.next, .prev
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)

.next
  right: 2rem
  z-index: 99

.prev
  left: 2rem
  z-index: 99

.heightNone
  position: relative
  top: -11rem

@media screen and ( max-width: $smDesktopWidth )
  .heightNone
    top: 1rem  

  .myContainer
    padding: 0rem 0rem

  .next, .prev
    width: 1rem

  .slide_1
    padding: 1rem

  .banner__texts
    top: 50%
    transform: translateY(-50%)

@media screen and ( max-width: $tableWidth  )
  .slide_1__image
    width: 100%

  body
    padding: 0px 2rem

@media screen and ( max-width: $phoneWidth  )
  body
    padding: 0px 1rem
      

.rectangle_primary
  display: block
  width: -webkit-fit-content
  width: -moz-fit-content
  width: fit-content
  margin: 2.5rem auto
  border: none
  color: #ffffff
  font-style: italic
  font-weight: 800
  background: #57ABE5
  font-size: 20px
  padding: 10px 5px

.slide_2
  background: linear-gradient(89.28deg, rgba(5, 97, 162, 0.75) 0.27%, rgba(255, 255, 255, 0) 145.32%)
  border-radius: 16px

.slide_2__img
  width: 100%

.vertical-dots
  list-style: none
  display: block
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
  text-align: left

  li
    position: relative
    width: 1.2rem
    height: 1.2rem
    cursor: pointer

    button
      font-size: 0
      line-height: 0
      display: block
      width: 20px
      height: 20px
      padding: 5px
      cursor: pointer
      color: transparent
      border: 0
      outline: none
      background: transparent

      &:hover, &:focus
        outline: none

        &:before
          opacity: 1

      &:before
        font-family: 'slick'
        font-size: 10px
        line-height: 20px
        position: absolute
        top: 0
        left: 0
        width: 1.2rem
        height: 1.2rem
        content: '•'
        text-align: center
        opacity: 1
        color: #fff
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

    &.slick-active button:before
      opacity: .75
      color: #57ABE5

/* cell number

.theme
  font-weight: 600
  font-size: 20px
  line-height: 27px
  text-align: center
  color: #57ABE5
  margin-bottom: 40px

.block
  background: #FFFFFF
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15)
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15)
  border-radius: 16px
  padding: 37px 21px
  margin-bottom: 20px

.block__theme
  font-style: italic
  font-weight: bold
  font-size: 20px
  line-height: 27px
  color: #333

.block__text
  font-weight: 600
  font-size: 16px
  line-height: 22px
  text-transform: lowercase
  color: #57ABE5

.block__ul
  padding: 0
  margin: 0
  list-style: none

  li
    margin-bottom: 25px

  i
    margin-right: 10px

.slide--parent
  margin: 0 auto
  overflow: hidden
  border-radius: 1rem

  .flickity-slider
    transform: translateX(0)

  .flickity-page-dots
    top: 50%
    display: flex
    flex-direction: column
    width: 1rem
    left: 1rem

    .dot
      background: white
      margin: 0.5rem 0

.slider-header
  font-size: 2rem
  color: white
  font-weight: 600

.slider-text
  width: 80%
  margin-top: 1rem
  padding: 1rem
  display: flex
  justify-content: center
  align-items: center
  color: white
  background: rgba(0,0,0,0.2)

a.slider-btn
  width: 10rem
  height: 2.5rem
  background: #FF9F43
  border-radius: 2rem
  display: flex
  justify-content: center
  align-items: center
  margin-top: 2rem
  cursor: pointer
  color: white
  font-weight: bold
  transition: 0.3s

  &:hover
    background: white
    color: #FF9F43

.parent--el
  width: 100%
  margin: auto
  height: 30rem

  .two--col
    display: flex
    align-items: center


.is-item--inner
  padding: 0em 4em

// transitions
.slider-header
  transform: translateX(20%)
  transition: all 800ms ease
  text-transform: lowercase
  &::first-letter
    text-transform: uppercase 

.slider-text
  transform: translateX(30%)
  transition: all 1000ms ease
  text-transform: lowercase
  &::first-letter
    text-transform: uppercase 

.slider-btn
  transform: translateX(30%)
  transition: all 1000ms ease


.parent--el
  background-size: cover
  background-repeat: no-repeat
  transform: translateX(0)
  display: flex
  &.is-selected
    .slider-header
      transform: translateX(0)
    .slider-text
      transform: translateX(0)
    .slider-btn
      transform: translate(0,0)

  &.el-first
    background-image: url(../img/slider-2/1.png)
   
  &.el-second
    background-image: url(../img/slider-2/2.jpg)

  &.el-third
    background-image: url(../img/slider-2/3.jpg)
   
  &.el-fouth
    background-image: url(../img/slider-2/4.jpg)
   

button.flickity-button
  display: none

body
  font-weight: 400

.slick-slider
  height: 500px

.pay-block
  .pay-text
    text-align: center
    margin-bottom: 1rem

  button.btn-green
    width: 100%

.pay-radio
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-top: 1rem

  label
    color: black

.pay-text-info
  margin-top: 1rem
  font-weight: bold

.boss-block
  .boss-item
    display: flex

    &__info
      padding: 1rem

      &_name
        font-weight: bold
        font-size: 1.2rem

      &_about
        margin-top: 0.5rem
        font-size: 0.8rem

      &_call
        margin-top: 1rem
        font-size: 0.8rem

/*# sourceMappingURL=home.css.map