@charset "UTF-8";
@keyframes plyr-progress {
  to {
    background-position: 25px 0;
  }
}
@keyframes plyr-popup {
  0% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes plyr-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.plyr {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  line-height: 1.7;
  max-width: 100%;
  min-width: 200px;
  position: relative;
  text-shadow: none;
  transition: box-shadow 0.3s ease;
}
.plyr audio, .plyr video {
  border-radius: inherit;
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.plyr button {
  font: inherit;
  line-height: inherit;
  width: auto;
}
.plyr:focus {
  outline: 0;
}

.plyr--full-ui {
  box-sizing: border-box;
}
.plyr--full-ui *, .plyr--full-ui ::after, .plyr--full-ui ::before {
  box-sizing: inherit;
}
.plyr--full-ui a, .plyr--full-ui button, .plyr--full-ui input, .plyr--full-ui label {
  touch-action: manipulation;
}

.plyr__badge {
  background: #4a5764;
  border-radius: 2px;
  color: #fff;
  font-size: 9px;
  line-height: 1;
  padding: 3px 4px;
}

.plyr--full-ui ::-webkit-media-text-track-container {
  display: none;
}

.plyr__captions {
  animation: plyr-fade-in 0.3s ease;
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}
.plyr__captions .plyr__caption {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 185%;
  padding: 0.2em 0.5em;
  white-space: pre-wrap;
}
.plyr__captions .plyr__caption div {
  display: inline;
}
.plyr__captions span:empty {
  display: none;
}

@media (min-width: 480px) {
  .plyr__captions {
    font-size: 16px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .plyr__captions {
    font-size: 18px;
  }
}
.plyr--captions-active .plyr__captions {
  display: block;
}

.plyr:not(.plyr--hide-controls) .plyr__controls:not(:empty) ~ .plyr__captions {
  transform: translateY(-40px);
}

.plyr__control {
  background: 0 0;
  border: 0;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  overflow: visible;
  padding: 7px;
  position: relative;
  transition: all 0.3s ease;
}
.plyr__control svg {
  display: block;
  fill: currentColor;
  height: 18px;
  pointer-events: none;
  width: 18px;
}
.plyr__control:focus {
  outline: 0;
}
.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(0, 179, 255, 0.5);
  outline: 0;
}

a.plyr__control {
  text-decoration: none;
}
a.plyr__control::after, a.plyr__control::before {
  display: none;
}

.plyr__control.plyr__control--pressed .icon--not-pressed, .plyr__control.plyr__control--pressed .label--not-pressed {
  display: none;
}
.plyr__control:not(.plyr__control--pressed) .icon--pressed, .plyr__control:not(.plyr__control--pressed) .label--pressed {
  display: none;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  background: #00b3ff;
  color: #fff;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: #00b3ff;
  color: #fff;
}

.plyr__control--overlaid {
  background: rgba(0, 179, 255, 0.8);
  border: 0;
  border-radius: 100%;
  color: #fff;
  display: none;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.plyr__control--overlaid svg {
  left: 2px;
  position: relative;
}
.plyr__control--overlaid:focus, .plyr__control--overlaid:hover {
  background: #00b3ff;
}

.plyr--playing .plyr__control--overlaid {
  opacity: 0;
  visibility: hidden;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  display: block;
}
.plyr--full-ui ::-webkit-media-controls {
  display: none;
}

.plyr__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.plyr__controls .plyr__progress__container {
  flex: 1;
  min-width: 0;
}
.plyr__controls .plyr__controls__item {
  margin-left: 2.5px;
}
.plyr__controls .plyr__controls__item:first-child {
  margin-left: 0;
  margin-right: auto;
}
.plyr__controls .plyr__controls__item.plyr__progress__container {
  padding-left: 2.5px;
}
.plyr__controls .plyr__controls__item.plyr__time {
  padding: 0 5px;
}
.plyr__controls .plyr__controls__item.plyr__progress__container:first-child {
  padding-left: 0;
}
.plyr__controls .plyr__controls__item.plyr__time + .plyr__time, .plyr__controls .plyr__controls__item.plyr__time:first-child {
  padding-left: 0;
}
.plyr__controls .plyr__controls__item.plyr__volume {
  padding-right: 5px;
}
.plyr__controls .plyr__controls__item.plyr__volume:first-child {
  padding-right: 0;
}
.plyr__controls:empty {
  display: none;
}

.plyr--audio .plyr__controls {
  background: #fff;
  border-radius: inherit;
  color: #4a5764;
  padding: 10px;
}

.plyr--video .plyr__controls {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 20px 5px 5px;
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 3;
}
.plyr--video.plyr--hide-controls .plyr__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    padding: 35px 10px 10px;
  }
}
.plyr [data-plyr=airplay], .plyr [data-plyr=captions], .plyr [data-plyr=fullscreen], .plyr [data-plyr=pip] {
  display: none;
}

.plyr--airplay-supported [data-plyr=airplay], .plyr--captions-enabled [data-plyr=captions], .plyr--fullscreen-enabled [data-plyr=fullscreen], .plyr--pip-supported [data-plyr=pip] {
  display: inline-block;
}

.plyr__menu {
  display: flex;
  position: relative;
}
.plyr__menu .plyr__control svg {
  transition: transform 0.3s ease;
}
.plyr__menu .plyr__control[aria-expanded=true] svg {
  transform: rotate(90deg);
}
.plyr__menu .plyr__control[aria-expanded=true] .plyr__tooltip {
  display: none;
}

.plyr__menu__container {
  animation: plyr-popup 0.2s ease;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #4a5764;
  font-size: 16px;
  margin-bottom: 10px;
  position: absolute;
  right: -3px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.plyr__menu__container > div {
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1), width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.plyr__menu__container::after {
  border: 4px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.9);
  content: "";
  height: 0;
  position: absolute;
  right: 15px;
  top: 100%;
  width: 0;
}
.plyr__menu__container [role=menu] {
  padding: 7px;
}
.plyr__menu__container [role=menuitem], .plyr__menu__container [role=menuitemradio] {
  margin-top: 2px;
}
.plyr__menu__container [role=menuitem]:first-child, .plyr__menu__container [role=menuitemradio]:first-child {
  margin-top: 0;
}
.plyr__menu__container .plyr__control {
  align-items: center;
  color: #4a5764;
  display: flex;
  font-size: 14px;
  padding: 4px 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.plyr__menu__container .plyr__control > span {
  align-items: inherit;
  display: flex;
  width: 100%;
}
.plyr__menu__container .plyr__control::after {
  border: 4px solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plyr__menu__container .plyr__control--forward {
  padding-right: 28px;
}
.plyr__menu__container .plyr__control--forward::after {
  border-left-color: rgba(74, 87, 100, 0.8);
  right: 5px;
}
.plyr__menu__container .plyr__control--forward.plyr__tab-focus::after, .plyr__menu__container .plyr__control--forward:hover::after {
  border-left-color: currentColor;
}
.plyr__menu__container .plyr__control--back {
  font-weight: 500;
  margin: 7px;
  margin-bottom: 3px;
  padding-left: 28px;
  position: relative;
  width: calc(100% - 14px);
}
.plyr__menu__container .plyr__control--back::after {
  border-right-color: rgba(74, 87, 100, 0.8);
  left: 7px;
}
.plyr__menu__container .plyr__control--back::before {
  background: #c1c9d1;
  box-shadow: 0 1px 0 #fff;
  content: "";
  height: 1px;
  left: 0;
  margin-top: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
}
.plyr__menu__container .plyr__control--back.plyr__tab-focus::after, .plyr__menu__container .plyr__control--back:hover::after {
  border-right-color: currentColor;
}
.plyr__menu__container .plyr__control[role=menuitemradio] {
  padding-left: 7px;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::after {
  border-radius: 100%;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::before {
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  flex-shrink: 0;
  height: 16px;
  margin-right: 10px;
  transition: all 0.3s ease;
  width: 16px;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::after {
  background: #fff;
  border: 0;
  height: 6px;
  left: 12px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 6px;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #00b3ff;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::after {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.plyr__menu__container .plyr__control[role=menuitemradio].plyr__tab-focus::before, .plyr__menu__container .plyr__control[role=menuitemradio]:hover::before {
  background: rgba(0, 0, 0, 0.1);
}
.plyr__menu__container .plyr__menu__value {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: -5px;
  overflow: hidden;
  padding-left: 25px;
  pointer-events: none;
}

.plyr--full-ui input[type=range] {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  border-radius: 26px;
  color: #00b3ff;
  display: block;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  width: 100%;
}
.plyr--full-ui input[type=range]::-webkit-slider-runnable-track {
  background: 0 0;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  -webkit-user-select: none;
  user-select: none;
  background-image: linear-gradient(to right, currentColor var(--value, 0), transparent var(--value, 0));
}
.plyr--full-ui input[type=range]::-webkit-slider-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(35, 41, 47, 0.2);
  height: 13px;
  position: relative;
  transition: all 0.2s ease;
  width: 13px;
  -webkit-appearance: none;
  margin-top: -4px;
}
.plyr--full-ui input[type=range]::-moz-range-track {
  background: 0 0;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  -moz-user-select: none;
  user-select: none;
}
.plyr--full-ui input[type=range]::-moz-range-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(35, 41, 47, 0.2);
  height: 13px;
  position: relative;
  transition: all 0.2s ease;
  width: 13px;
}
.plyr--full-ui input[type=range]::-moz-range-progress {
  background: currentColor;
  border-radius: 2.5px;
  height: 5px;
}
.plyr--full-ui input[type=range]::-ms-track {
  background: 0 0;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  -ms-user-select: none;
  user-select: none;
  color: transparent;
}
.plyr--full-ui input[type=range]::-ms-fill-upper {
  background: 0 0;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  -ms-user-select: none;
  user-select: none;
}
.plyr--full-ui input[type=range]::-ms-fill-lower {
  background: 0 0;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  -ms-user-select: none;
  user-select: none;
  background: currentColor;
}
.plyr--full-ui input[type=range]::-ms-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(35, 41, 47, 0.2);
  height: 13px;
  position: relative;
  transition: all 0.2s ease;
  width: 13px;
  margin-top: 0;
}
.plyr--full-ui input[type=range]::-ms-tooltip {
  display: none;
}
.plyr--full-ui input[type=range]:focus {
  outline: 0;
}
.plyr--full-ui input[type=range]::-moz-focus-outer {
  border: 0;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track, .plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track, .plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
  box-shadow: 0 0 0 5px rgba(0, 179, 255, 0.5);
  outline: 0;
}
.plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track, .plyr--full-ui.plyr--video input[type=range]::-moz-range-track, .plyr--full-ui.plyr--video input[type=range]::-ms-track {
  background-color: rgba(255, 255, 255, 0.25);
}
.plyr--full-ui.plyr--video input[type=range]:active::-webkit-slider-thumb, .plyr--full-ui.plyr--video input[type=range]:active::-moz-range-thumb, .plyr--full-ui.plyr--video input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(35, 41, 47, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.plyr--full-ui.plyr--audio input[type=range]::-webkit-slider-runnable-track, .plyr--full-ui.plyr--audio input[type=range]::-moz-range-track, .plyr--full-ui.plyr--audio input[type=range]::-ms-track {
  background-color: rgba(193, 201, 209, 0.66);
}
.plyr--full-ui.plyr--audio input[type=range]:active::-webkit-slider-thumb, .plyr--full-ui.plyr--audio input[type=range]:active::-moz-range-thumb, .plyr--full-ui.plyr--audio input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(35, 41, 47, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.plyr__poster {
  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 1;
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
  opacity: 1;
}

.plyr__time {
  font-size: 14px;
}
.plyr__time + .plyr__time::before {
  content: "⁄";
  margin-right: 10px;
}

@media (max-width: 767px) {
  .plyr__time + .plyr__time {
    display: none;
  }
}
.plyr--video .plyr__time {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.plyr__tooltip {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #4a5764;
  font-size: 14px;
  font-weight: 500;
  left: 50%;
  line-height: 1.3;
  margin-bottom: 10px;
  opacity: 0;
  padding: 5px 7.5px;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  white-space: nowrap;
  z-index: 2;
}
.plyr__tooltip::before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}

.plyr .plyr__control.plyr__tab-focus .plyr__tooltip, .plyr .plyr__control:hover .plyr__tooltip {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}

.plyr__tooltip--visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}

.plyr .plyr__control:hover .plyr__tooltip {
  z-index: 3;
}

.plyr__controls > .plyr__control:first-child .plyr__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 0 100%;
}
.plyr__controls > .plyr__control:first-child .plyr__tooltip::before {
  left: 16px;
}
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 0 100%;
}
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip::before {
  left: 16px;
}
.plyr__controls > .plyr__control:last-child .plyr__tooltip {
  left: auto;
  right: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 100% 100%;
}
.plyr__controls > .plyr__control:last-child .plyr__tooltip::before {
  left: auto;
  right: 16px;
  transform: translateX(50%);
}
.plyr__controls > .plyr__control:first-child .plyr__tooltip--visible {
  transform: translate(0, 0) scale(1);
}
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip--visible, .plyr__controls > .plyr__control:first-child + .plyr__control.plyr__tab-focus .plyr__tooltip, .plyr__controls > .plyr__control:first-child + .plyr__control:hover .plyr__tooltip {
  transform: translate(0, 0) scale(1);
}
.plyr__controls > .plyr__control:first-child.plyr__tab-focus .plyr__tooltip, .plyr__controls > .plyr__control:first-child:hover .plyr__tooltip {
  transform: translate(0, 0) scale(1);
}
.plyr__controls > .plyr__control:last-child .plyr__tooltip--visible, .plyr__controls > .plyr__control:last-child.plyr__tab-focus .plyr__tooltip, .plyr__controls > .plyr__control:last-child:hover .plyr__tooltip {
  transform: translate(0, 0) scale(1);
}

.plyr--video {
  background: #000;
  overflow: hidden;
}
.plyr--video.plyr--menu-open {
  overflow: visible;
}

.plyr__video-wrapper {
  background: #000;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.plyr__video-embed, .plyr__video-wrapper--fixed-ratio {
  height: 0;
  padding-bottom: 56.25%;
}

.plyr__video-embed iframe, .plyr__video-wrapper--fixed-ratio video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.plyr--full-ui .plyr__video-embed > .plyr__video-embed__container {
  padding-bottom: 240%;
  position: relative;
  transform: translateY(-38.28125%);
}

.plyr__progress {
  left: 6.5px;
  margin-right: 13px;
  position: relative;
}
.plyr__progress input[type=range] {
  margin-left: -6.5px;
  margin-right: -6.5px;
  width: calc(100% + 13px);
}

.plyr__progress__buffer {
  margin-left: -6.5px;
  margin-right: -6.5px;
  width: calc(100% + 13px);
}

.plyr__progress input[type=range] {
  position: relative;
  z-index: 2;
}
.plyr__progress .plyr__tooltip {
  font-size: 14px;
  left: 0;
}

.plyr__progress__buffer {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  border-radius: 100px;
  height: 5px;
  left: 0;
  margin-top: -2.5px;
  padding: 0;
  position: absolute;
  top: 50%;
}
.plyr__progress__buffer::-webkit-progress-bar {
  background: 0 0;
}
.plyr__progress__buffer::-webkit-progress-value, .plyr__progress__buffer::-moz-progress-bar {
  background: currentColor;
  border-radius: 100px;
  min-width: 5px;
  transition: width 0.2s ease;
}
.plyr__progress__buffer::-ms-fill {
  border-radius: 100px;
  transition: width 0.2s ease;
}

.plyr--video .plyr__progress__buffer {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.25);
}

.plyr--audio .plyr__progress__buffer {
  color: rgba(193, 201, 209, 0.66);
}

.plyr--loading .plyr__progress__buffer {
  animation: plyr-progress 1s linear infinite;
  background-image: linear-gradient(-45deg, rgba(35, 41, 47, 0.6) 25%, transparent 25%, transparent 50%, rgba(35, 41, 47, 0.6) 50%, rgba(35, 41, 47, 0.6) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 25px 25px;
  color: transparent;
}

.plyr--video.plyr--loading .plyr__progress__buffer {
  background-color: rgba(255, 255, 255, 0.25);
}

.plyr--audio.plyr--loading .plyr__progress__buffer {
  background-color: rgba(193, 201, 209, 0.66);
}

.plyr__volume {
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
}
.plyr__volume input[type=range] {
  margin-left: 5px;
  position: relative;
  z-index: 2;
}

@media (min-width: 480px) {
  .plyr__volume {
    max-width: 90px;
  }
}
@media (min-width: 768px) {
  .plyr__volume {
    max-width: 110px;
  }
}
.plyr--is-ios .plyr__volume, .plyr--is-ios.plyr--vimeo [data-plyr=mute] {
  display: none !important;
}

.plyr:-webkit-full-screen, .plyr:-ms-fullscreen, .plyr:fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-webkit-full-screen video, .plyr:-ms-fullscreen video, .plyr:fullscreen video {
  height: 100%;
}
.plyr:-webkit-full-screen .plyr__video-wrapper, .plyr:-ms-fullscreen .plyr__video-wrapper, .plyr:fullscreen .plyr__video-wrapper {
  height: 100%;
  position: static;
}
.plyr:-webkit-full-screen.plyr--vimeo .plyr__video-wrapper, .plyr:-ms-fullscreen.plyr--vimeo .plyr__video-wrapper, .plyr:fullscreen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen, .plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen, .plyr:fullscreen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen + svg, .plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen + svg, .plyr:fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-webkit-full-screen.plyr--hide-controls, .plyr:-ms-fullscreen.plyr--hide-controls, .plyr:fullscreen.plyr--hide-controls {
  cursor: none;
}
.plyr:-webkit-full-screen, .plyr:-moz-full-screen, .plyr:-ms-fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-webkit-full-screen video, .plyr:-moz-full-screen video, .plyr:-ms-fullscreen video {
  height: 100%;
}
.plyr:-webkit-full-screen .plyr__video-wrapper, .plyr:-moz-full-screen .plyr__video-wrapper, .plyr:-ms-fullscreen .plyr__video-wrapper {
  height: 100%;
  position: static;
}
.plyr:-webkit-full-screen.plyr--vimeo .plyr__video-wrapper, .plyr:-moz-full-screen.plyr--vimeo .plyr__video-wrapper, .plyr:-ms-fullscreen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen, .plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen, .plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen + svg, .plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen + svg, .plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-webkit-full-screen.plyr--hide-controls, .plyr:-moz-full-screen.plyr--hide-controls, .plyr:-ms-fullscreen.plyr--hide-controls {
  cursor: none;
}

@media (min-width: 1024px) {
  .plyr:-webkit-full-screen .plyr__captions, .plyr:-ms-fullscreen .plyr__captions, .plyr:fullscreen .plyr__captions {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .plyr:-webkit-full-screen .plyr__captions {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .plyr:-moz-full-screen .plyr__captions {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .plyr:-ms-fullscreen .plyr__captions {
    font-size: 21px;
  }
}
.plyr--fullscreen-fallback {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000;
}
.plyr--fullscreen-fallback video {
  height: 100%;
}
.plyr--fullscreen-fallback .plyr__video-wrapper {
  height: 100%;
  position: static;
}
.plyr--fullscreen-fallback.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr--fullscreen-fallback.plyr--hide-controls {
  cursor: none;
}

@media (min-width: 1024px) {
  .plyr--fullscreen-fallback .plyr__captions {
    font-size: 21px;
  }
}
.plyr__ads {
  border-radius: inherit;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.plyr__ads > div {
  height: 100%;
  position: absolute;
  width: 100%;
}
.plyr__ads > div iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}
.plyr__ads::after {
  background: rgba(35, 41, 47, 0.8);
  border-radius: 2px;
  bottom: 10px;
  color: #fff;
  content: attr(data-badge-text);
  font-size: 11px;
  padding: 2px 6px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  z-index: 3;
}
.plyr__ads::after:empty {
  display: none;
}

.plyr__cues {
  background: currentColor;
  display: block;
  height: 5px;
  left: 0;
  margin: -2.5px 0 0;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  width: 3px;
  z-index: 3;
}

.plyr__preview-thumb {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  opacity: 0;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  z-index: 2;
}

.plyr__preview-thumb--is-shown {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

.plyr__preview-thumb::before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}

.plyr__preview-thumb__image-container {
  background: #c1c9d1;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.plyr__preview-thumb__image-container img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.plyr__preview-thumb__time-container {
  bottom: 6px;
  left: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 3;
}
.plyr__preview-thumb__time-container span {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
}

.plyr__preview-scrubbing {
  bottom: 0;
  filter: blur(1px);
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 1;
}

.plyr__preview-scrubbing--is-shown {
  opacity: 1;
}

.plyr__preview-scrubbing img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.plyr--no-transition {
  transition: none !important;
}

.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: 0 !important;
  height: 1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.plyr [hidden] {
  display: none !important;
}

.date-picker-x-container {
  position: relative;
}

.date-picker-x {
  background: #57ABE5;
  box-sizing: content-box;
  color: #fff;
  display: none;
  font: 18px/1 Arial;
  padding: 10px;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 308px;
  z-index: 1;
}
.date-picker-x::before {
  border-color: #444 transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  bottom: 100%;
  content: "";
  left: 20px;
  position: absolute;
}
.date-picker-x.to-top {
  bottom: 100%;
  top: auto;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
.date-picker-x.to-top::before {
  border-width: 10px 10px 0;
  bottom: auto;
  top: 100%;
}
.date-picker-x.active {
  display: block;
}
.date-picker-x * {
  box-sizing: border-box;
}
.date-picker-x .dpx-title-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
}
.date-picker-x .dpx-prev, .date-picker-x .dpx-next {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: block;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  transition: 0.2s;
  width: 50px;
}
.date-picker-x .dpx-prev:hover, .date-picker-x .dpx-next:hover {
  color: #fff;
}
.date-picker-x .dpx-title {
  display: block;
  font-size: 18px;
  line-height: 40px;
  padding: 0 10px;
}
.date-picker-x:not([data-dpx-type=year]) .dpx-title {
  cursor: pointer;
}
.date-picker-x .dpx-content-box {
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 288px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}
.date-picker-x .dpx-btns {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
.date-picker-x .dpx-btns .dpx-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  height: 30px !important;
}
.date-picker-x .dpx-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.date-picker-x .dpx-item:not(.dpx-weekday) {
  cursor: pointer;
}
.date-picker-x .dpx-item:not(.dpx-weekday):hover {
  background: white;
  color: #57ABE5;
}
.date-picker-x .dpx-weekday {
  font-size: 15px;
  height: 24px !important;
}
.date-picker-x[data-dpx-type=day] .dpx-item {
  -ms-flex-preferred-size: 44px;
  flex-basis: 44px;
  height: 44px;
}
.date-picker-x .dpx-current {
  box-shadow: inset 0 0 0 2px #66a3ff;
}
.date-picker-x .dpx-selected {
  background: #06f;
}
.date-picker-x .dpx-weekend {
  color: #fff;
}
.date-picker-x .dpx-out {
  color: #ccc;
}
.date-picker-x .dpx-disabled {
  color: #666 !important;
  cursor: default !important;
  box-shadow: none !important;
}
.date-picker-x .dpx-disabled.dpx-current {
  box-shadow: inset 0 0 0 2px #66a3ff !important;
}

/* FOR COMPONENTS */
.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
}
.radio label {
  margin-bottom: 0;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.radio-group {
  border: solid 1px #A7ACBC;
  display: inline-block;
  border-radius: 6px;
  height: 2.5rem;
  margin-top: 0.4rem;
  overflow: hidden;
  display: flex;
  width: 15rem;
}
.radio-group input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
.radio-group label.radio {
  color: black;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  width: 50%;
  margin: 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.radio-group input[type=radio]:checked + label.radio {
  color: white;
  background: #57ABE5;
}
.radio-group label.radio + input[type=radio] + label.radio {
  border-left: 1px solid #A7ACBC;
}

.select {
  margin-top: 0.4rem;
  width: 15rem;
}

.cbx {
  margin: 1rem 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx span:last-child a:hover {
  text-decoration: none;
  color: #218DD6;
}
.cbx:hover span:first-child {
  border-color: #506EEC;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #506EEC;
  border-color: #506EEC;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form__item label.form__label {
  color: #A7ACBC;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0;
}
.form__item .form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #A7ACBC;
  width: 15rem;
  transition: 0.3s;
}
.form__item .form__input:focus {
  border-bottom: 1px solid black;
}

.dialogue {
  transition: 0.3s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  display: none;
  background: rgba(255, 255, 255, 0.7);
}
.dialogue.modal-open {
  display: flex;
}
.dialogue__form {
  width: 36rem;
  height: auto;
  padding: 1rem 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  background: white;
}
.dialogue__close-wrapper {
  position: relative;
  width: 100%;
}
.dialogue__close-wrapper img {
  position: absolute;
  top: -30px;
  right: -17px;
  cursor: pointer;
}
.dialogue form.form.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialogue form.form.sign-in h3 {
  color: #57ABE5;
  margin: 1rem auto;
}
.dialogue form.form.sign-in img {
  width: 8rem;
}
.dialogue form.form.sign-in a.forgot-password {
  color: #57ABE5;
  transition: 0.3s;
}
.dialogue form.form.sign-in a.forgot-password:hover {
  text-decoration: none;
  color: #218DD6;
}
.dialogue form.form.sign-in .form__item.no-margin {
  margin-bottom: 0;
}
.dialogue form.form.sign-in button {
  width: 15rem;
}
.dialogue form.form.sign-in button:nth-child(1) {
  margin-top: 2rem;
}
.dialogue form.form.forgot {
  display: none;
  flex-direction: column;
  align-items: center;
}
.dialogue form.form.forgot h3 {
  color: #57ABE5;
  margin: 1rem auto;
}
.dialogue form.form.forgot img {
  width: 8rem;
}
.dialogue form.form.forgot a.return-back {
  color: #57ABE5;
  transition: 0.3s;
}
.dialogue form.form.forgot a.return-back:hover {
  text-decoration: none;
  color: #218DD6;
}
.dialogue form.form.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #57ABE5;
  margin: 1rem auto;
}
button.btn-green {
  width: 12rem;
  height: 3rem;
  background: #2ECC71;
  outline: none;
  border: none;
  border-radius: 2rem;
  margin: 0.7rem 0;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
button.btn-green:hover {
  background: #1DB95F;
  background-image: url(../img/ui/button-line.png);
  background-repeat: no-repeat;
  background-position: 5% 25%;
}

button.btn-blue {
  width: 12rem;
  height: 3rem;
  background: #57ABE5;
  outline: none;
  border: none;
  border-radius: 2rem;
  margin: 0.7rem 0;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
button.btn-blue:hover {
  background: #218DD6;
  background-image: url(../img/ui/button-line.png);
  background-repeat: no-repeat;
  background-position: 5% 25%;
}

button.btn-darkblue {
  width: 12rem;
  height: 3rem;
  background: #2980B9;
  outline: none;
  border: none;
  border-radius: 2rem;
  margin: 0.7rem 0;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
button.btn-darkblue:hover {
  background: #1174B5;
  background-image: url(../img/ui/button-line.png);
  background-repeat: no-repeat;
  background-position: 5% 25%;
}

button.btn-default {
  color: #57ABE5;
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
button.btn-default.active {
  background: #57ABE5;
  border-radius: 4px;
  color: white;
}

a.btn-outline {
  font-weight: 600;
  background: #F7FAFC;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: black;
  transition: 0.3s;
}
a.btn-outline:hover {
  text-decoration: none;
  color: #57ABE5;
}

/* END COMPONENTS */
html {
  font-size: 16px;
}

body {
  margin-top: 0;
  margin: 0;
}

.wrapper {
  padding-top: 4.5rem;
  display: flex;
  position: relative;
  max-width: 90rem;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  height: 100%;
}

.top-menu {
  z-index: 100;
  width: 100%;
  height: 4.5rem;
  background: white;
  display: flex;
  position: fixed;
  justify-content: space-between;
}
.top-menu__content {
  display: flex;
  margin: 0 auto;
  width: 98%;
  justify-content: space-between;
  align-items: center;
}
.top-menu__content a:hover {
  text-decoration: none;
}
.top-menu__content .brand {
  display: flex;
  align-items: center;
}
.top-menu__content .brand__img img {
  width: 3rem;
}
.top-menu__content .brand__text {
  color: #57ABE5;
  font-family: Open Sans;
  font-size: 1rem;
  margin-left: 1rem;
}
.top-menu__content .menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.top-menu__content .menu-list li {
  padding-left: 2rem;
}
.top-menu__content .menu-list li a {
  color: #57ABE5;
  font-family: Open Sans;
  transition: 0.3s;
  font-weight: 600;
}
.top-menu__content .menu-list li a:hover {
  text-decoration: none;
  color: #218DD6;
}
.top-menu__content .menu-list li a:active {
  text-decoration: none;
}
.top-menu__content .menu-user {
  display: flex;
  align-items: center;
}
.top-menu__content .menu-user > * {
  margin-left: 3rem;
}
.top-menu__content .menu-user a {
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  color: #218DD6;
}
.top-menu__content .menu-user a:active {
  text-decoration: none;
}
.top-menu__content .menu-user a.notifs-active {
  position: relative;
}
.top-menu__content .menu-user a.notifs-active .notifs-circle {
  position: absolute;
  top: 0;
  right: 0;
  background: #57ABE5;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
}
.top-menu__content .menu-user .user-block {
  display: flex;
  align-items: center;
}
.top-menu__content .menu-user .user-block__name {
  color: #57ABE5;
  font-weight: 500;
  margin-left: 1rem;
}

.news {
  display: flex;
  flex-direction: column;
}
.news-title {
  font-weight: 400;
}
.news-block {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.news-block__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.news-block__item_left {
  display: flex;
  align-items: center;
}
.news-block__item-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.news-block__item-info {
  margin-left: 2rem;
}
.news-block__item-name {
  font-weight: 600;
}
.news-block__item-data {
  display: flex;
  margin-top: 0.5rem;
}
.news-block__item-data.center {
  justify-content: center;
}
.news-block__item-data.center .news-block__item-data-time {
  margin-right: 0;
}
.news-block__item-data-author, .news-block__item-data-time {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.news-block__item-data-text {
  color: #A7ACBC;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.2rem;
}
.news-block__item_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg2 path {
  transition: all 0.5s;
  fill: royalblue;
  stroke: rgba(0, 0, 0, 0.5);
}

.m-0.leader-text {
  font-family: Open Sans;
  font-weight: 700;
  margin-top: 1rem;
}

.platform_content {
  opacity: 0;
  transition: opacity 0.2s linear;
  display: flex;
  flex-direction: column;
  width: 193px;
  height: 193px;
  position: absolute;
  z-index: 100;
  background-color: #57ABE5;
  border-radius: 10px;
  padding: auto;
}
.platform_content:hover {
  opacity: 1;
}

.content_text1 {
  width: 100%;
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.content_text2 {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.platform_content a {
  margin: auto auto 50px auto;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.indicator {
  position: absolute;
  display: inline;
  background: rgba(255, 255, 255, 0.8);
  color: #007bff;
  padding: 10px 30px;
  font: 20px Arial;
  border-radius: 5px;
  min-width: 300px;
  text-transform: capitalize;
  display: none;
}

.list {
  position: absolute;
  margin-top: 96px;
  margin-left: 34px;
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  z-index: 1;
}

.arrow {
  position: absolute;
}
.arrow.one {
  left: 34px;
  top: 346px;
}
.arrow.two {
  right: 32px;
  top: 346px;
}

.content {
  width: 1138px;
  height: 720px;
  position: absolute;
  top: 159px;
}

.private_rating {
  width: 300px;
  height: 720px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  float: left;
  padding: 15px 21px 0 11px;
}

.comand_rating {
  width: 300px;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  margin-left: 115px;
  padding: 15px 21px 0 11px;
}

.private_prof_rating {
  width: 300px;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  float: right;
  padding: 15px 21px 0 11px;
}

.arrow {
  position: absolute;
}
.arrow.one {
  left: 34px;
  top: 346px;
}
.arrow.two {
  right: 32px;
  top: 346px;
}

.content {
  width: 1138px;
  height: 720px;
  position: absolute;
  top: 159px;
}

.private_rating {
  width: 300px;
  height: 720px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  float: left;
  padding: 15px 21px 0 11px;
}

.comand_rating {
  width: 300px;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  margin-left: 115px;
  padding: 15px 21px 0 11px;
}

.private_prof_rating {
  width: 300px;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  float: right;
  padding: 15px 21px 0 11px;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #57ABE5;
  text-align: center;
  height: 46px;
}

.user {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 13px;
}

.number {
  width: 11px;
  height: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 5px;
}
.number.first {
  left: 6px;
}

.image {
  position: absolute;
  left: 25px;
}

.name_crown {
  position: absolute;
  top: 7px;
  left: 80px;
  padding-bottom: 7px;
  width: 187px;
  border-bottom: 3px solid #CCCCCC;
  border-radius: 2px;
}
.name_crown.one:before {
  width: 170px;
  border-bottom: 3px solid #2ECC71;
  border-radius: 2px;
  content: "";
  display: block;
  position: absolute;
  top: 31px;
}
.name_crown.two:before {
  width: 120px;
  border-bottom: 3px solid #FF9F43;
  border-radius: 2px;
  content: "";
  display: block;
  position: absolute;
  top: 31px;
}
.name_crown.three:before {
  width: 50px;
  border-bottom: 3px solid #FF3838;
  border-radius: 2px;
  content: "";
  display: block;
  position: absolute;
  top: 31px;
}

.crown {
  position: absolute;
  top: 6px;
  right: 58px;
}

.rating.one {
  position: absolute;
  left: 225px;
  top: 42px;
  color: #2ECC71;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.rating.two {
  position: absolute;
  left: 175px;
  top: 42px;
  color: #FF9F43;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.rating.three {
  position: absolute;
  left: 105px;
  top: 42px;
  color: #FF3838;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

/* LK */
.sidebar {
  width: 4.5rem;
  height: calc(100vh - 9rem);
  background: white;
  position: fixed;
  left: 0;
  top: 4.5rem;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__item {
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-left: 1px solid transparent;
}
.sidebar__item svg {
  fill: #E0E0E0;
  transition: 0.3s;
}
.sidebar__item:hover {
  background: #EEF6FD;
  border-left: 1px solid #57ABE5;
}
.sidebar__item:hover svg {
  fill: #57ABE5;
}

.block-vertical {
  display: flex;
  flex-direction: column;
}

.block-lg {
  width: 75%;
  background: white;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1.5rem;
}
.block-lg .block__header {
  color: #57ABE5;
  font-weight: 600;
}
.block-lg .block__table {
  margin-top: 1rem;
  width: 100%;
}
.block-lg .block__table th .table-header {
  color: #C4C4C4;
  font-weight: 600;
  font-size: 0.8rem;
}
.block-lg .block__table td {
  vertical-align: middle;
}
.block-lg .block__table td span {
  font-size: 0.8rem;
}
.block-lg .block__table td span.table-bold {
  font-weight: 600;
}
.block-lg .block__table td a {
  transition: 0.3s;
  font-weight: 600;
}
.block-lg .block__table td a:hover {
  text-decoration: none;
  color: #218DD6;
}

.block-info {
  width: 25%;
  padding: 1.5rem;
  margin: 1.5rem 0;
  background: white;
  border-radius: 1rem;
}
.block-info__ref {
  background: white;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
}
.block-info__text {
  color: #A7ACBC;
  font-weight: 400;
  text-align: center;
}
.block-info__clipboard {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-info__clipboard img {
  margin-left: 1rem;
  cursor: pointer;
}
.block-info__wallet {
  background: white;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
.block-info__list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-info .button-group {
  margin-top: 1rem;
}
.block-info .button-group button {
  width: 100%;
}
.block-info__tasks {
  background: white;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.block-center {
  margin: 1.5rem auto;
}

.footer {
  margin-top: 2rem;
  z-index: 101;
  background: white;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.footer__content {
  width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer__contact {
  display: flex;
  align-items: center;
  width: 33.3%;
}
.footer__contact-text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.footer__contact-text a:hover {
  text-decoration: none;
  color: #57ABE5;
}
.footer__contact img {
  width: 3rem;
}
.footer__links {
  width: 33.3%;
}
.footer__links a {
  padding: 0 1rem;
}
.footer__links a:hover {
  text-decoration: none;
  color: #57ABE5;
}
.footer__net {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
}
.footer__net a:nth-child(2) {
  padding-left: 1rem;
}

.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg__text {
  color: #57ABE5;
}
.reg button {
  width: 15rem;
}
.reg button[disabled] {
  background: #A7ACBC;
}

.teachers__block {
  display: flex;
  flex-wrap: wrap;
}
.teachers__block-item {
  width: 20%;
  margin: 2.5% 2.5%;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  position: relative;
  padding-bottom: 6rem;
}
.teachers__block-item.game {
  padding-bottom: 1rem;
}
.teachers__block-item .teacher__img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 11rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.teachers__block-item .teacher__name {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0 0.5rem;
  font-weight: 600;
  color: #3C3343;
}
.teachers__block-item .teacher__hr {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  border-radius: 100%;
  background: #A4A4A4;
  margin-bottom: 0.5rem;
}
.teachers__block-item .teacher__text_gray {
  text-align: center;
  color: #A4A4A4;
  font-weight: 600;
  font-size: 0.8rem;
}
.teachers__block-item .teacher__text_gray.margin {
  margin-top: 0.5rem;
}
.teachers__block-item .teacher__text_black {
  text-align: center;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.teachers__block-item .teacher__text_black.gradation {
  margin-bottom: 0.5rem;
}
.teachers__block-item .add-team {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  margin: 0;
  width: 100%;
}
.teachers__block-item .add-team button {
  width: 90%;
}

.steps .block__container {
  display: flex;
}
.steps .block__container .steps__road {
  display: flex;
  padding-left: 0;
  flex-direction: column;
}
.steps .block__container .steps__road-text {
  margin-top: 1rem;
  color: #57ABE5;
  font-weight: 400;
}
.steps .block__container .steps__road-links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 1rem;
}
.steps .block__container .steps__road-links a {
  color: #C4C4C4;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.steps .block__container .steps__road-links a.link-active {
  color: #FF9F43;
}
.steps .block__container .steps__road-links a.link-active:hover {
  text-decoration: none;
}
.steps .block__container .steps__road-links a:not(.link-active):hover {
  text-decoration: none;
  color: #57ABE5;
}
.steps .block__container .steps__study {
  margin-top: 1rem;
  margin-left: 1rem;
}
.steps .block__container .steps__study button.add-item {
  padding: 0.2rem 0;
}
.steps .block__container .steps__study-buttons {
  margin-top: 1rem;
}
.steps .block__container .steps__study-buttons button:not(:last-child) {
  margin-right: 0.5rem;
}
.steps .block__container .steps__study .table {
  display: none;
}
.steps .block__container .steps__study .table.active {
  display: block;
}
.steps .block__container .steps__rate .rate-item {
  width: 100%;
  margin-top: 1rem;
}
.steps .block__container .steps__rate .rate-item__header {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: space-between;
}
.steps .block__container .steps__rate .rate-item__header_text {
  color: black;
}
.steps .block__container .steps__rate .rate-item__header_status.green {
  color: #2ECC71;
}
.steps .block__container .steps__rate .rate-item__header_status.orange {
  color: #FF9F43;
}
.steps .block__container .steps__rate .rate-item__header_status.red {
  color: #FF3838;
}
.steps .block__container .steps__rate .rate-item__bar_full {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 1rem;
  background: #C4C4C4;
  margin-top: 0.5rem;
}
.steps .block__container .steps__rate .rate-item__bar_progress {
  position: absolute;
  top: 0;
  left: 0;
}
.steps .block__container .steps__rate .rate-item__bar_progress.green {
  width: 80%;
  height: 4px;
  background: #2ECC71;
}
.steps .block__container .steps__rate .rate-item__bar_progress.orange {
  width: 80%;
  height: 4px;
  background: #FF9F43;
}
.steps .block__container .steps__rate .rate-item__bar_progress.red {
  width: 80%;
  height: 4px;
  background: #FF3838;
}

input.add-video {
  display: none;
}

.selected-file {
  margin-top: 0.2rem;
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
}

.table-gg th {
  vertical-align: middle;
  text-align: center;
}
.table-gg tbody {
  border: 1px solid #ccc;
}
.table-gg tbody .levels {
  border-right: 1px solid #ccc;
}
.table-gg tbody td {
  width: 15%;
}
.table-gg tbody .width-50 {
  width: 50%;
  text-align: center;
}

.video-block__item {
  margin-bottom: 1rem;
}
.video-block__item-name {
  text-align: center;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */

/* ERRORS */
.alert{
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  color: red;
  background: rgba(255, 0, 0, .3);
}
/* ERRORS */  
