@import "utils/vars"
@import "utils/mixins"
@import "utils/plyr"
@import "modules/datepicker"


/* FOR COMPONENTS */

.radio
  display: flex
  align-items: center
  justify-content: center
  margin-top: .4rem

  label
    margin-bottom: 0

  input[type="radio"]
    position: absolute
    opacity: 0

    + .radio-label:before
      content: ''
      background: #f4f4f4
      border-radius: 100%
      border: 1px solid #b4b4b4
      display: inline-block
      width: 1.4em
      height: 1.4em
      position: relative
      top: -0.2em
      margin-right: 1em
      vertical-align: top
      cursor: pointer
      text-align: center
      transition: all 250ms ease

    &:checked + .radio-label:before
      background-color: #3197EE
      box-shadow: inset 0 0 0 4px #f4f4f4

    &:focus + .radio-label:before
      outline: none
      border-color: #3197EE

    &:disabled + .radio-label:before
      box-shadow: inset 0 0 0 4px #f4f4f4
      border-color: #b4b4b4
      background: #b4b4b4

    + .radio-label:empty:before
      margin-right: 0

.radio-group
  border: solid 1px $app-gray-500
  display: inline-block
  border-radius: 6px
  height: 2.5rem
  margin-top: 0.4rem
  overflow: hidden
  display: flex
  width: 15rem

  input[type="radio"]
    position: absolute
    visibility: hidden
    display: none

  label.radio
    color: black
    display: inline-block
    cursor: pointer
    font-weight: bold
    width: 50%
    margin: 0
    height: 2.5rem
    display: flex
    justify-content: center
    align-items: center
    font-weight: 400

  input[type="radio"]:checked + label.radio
    color: white
    background: $app-blue-500

  label.radio + input[type="radio"] + label.radio
    border-left: 1px solid $app-gray-500

.select
  margin-top: 0.4rem
  width: 15rem

.cbx
  margin: 1rem 0
  -webkit-user-select: none
  user-select: none
  cursor: pointer
  span
    display: inline-block
    vertical-align: middle
    transform: translate3d(0,0,0)
    &:first-child
      position: relative
      width: 18px
      height: 18px
      border-radius: 3px
      transform: scale(1)
      vertical-align: middle
      border: 1px solid #9098A9
      transition: all .2s ease
      svg
        position: absolute
        top: 3px
        left: 2px
        fill: none
        stroke: #FFFFFF
        stroke-width: 2
        stroke-linecap: round
        stroke-linejoin: round
        stroke-dasharray: 16px
        stroke-dashoffset: 16px
        transition: all .3s ease
        transition-delay: .1s
        transform: translate3d(0,0,0)
      &:before
        content: ""
        width: 100%
        height: 100%
        background: #506EEC
        display: block
        transform: scale(0)
        opacity: 1
        border-radius: 50%
    &:last-child
      padding-left: 8px

      a
        &:hover
          text-decoration: none
          color: $app-blue-600
  &:hover span:first-child
    border-color: #506EEC

.inp-cbx:checked + .cbx
  span
    &:first-child
      background: #506EEC
      border-color: #506EEC
      animation: wave .4s ease
      svg
        stroke-dashoffset: 0
      &:before
        transform: scale(3.5)
        opacity: 0
        transition: all .6s ease

@keyframes wave
  50%
    transform: scale(.9)


.form
  margin-top: 1rem
  display: flex
  flex-direction: column
  align-items: center

  &__item
    display: flex
    flex-direction: column
    margin-bottom: 1rem

    label.form__label
      color: $app-gray-500
      font-size: 0.8rem
      font-weight: 500
      margin-bottom: 0

    .form__input
      outline: none
      border: none
      border-bottom: 1px solid $app-gray-500
      width: 15rem
      transition: 0.3s

      &:focus
        border-bottom: 1px solid black

.dialogue
  transition: 0.3s
  position: fixed
  width: 100vw
  height: 100vh
  z-index: 150
  display: none
  background: rgba(255,255,255,0.7)

  &.modal-open
    display: flex

  &__form
    width: 36rem
    height: auto
    padding: 1rem 0
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border: 1px solid $app-gray-600
    border-radius: 6px
    background: white

  &__close-wrapper
    position: relative
    width: 100%

    img
      position: absolute
      top: -30px
      right: -17px
      cursor: pointer

  form.form

    &.sign-in
      display: flex
      flex-direction: column
      align-items: center
      h3
        color: $app-blue-500
        margin: 1rem auto
      img
        width: 8rem
      a.forgot-password
        color: $app-blue-500
        transition: 0.3s
        &:hover
          text-decoration: none
          color: $app-blue-600
      .form__item.no-margin
        margin-bottom: 0
      button
        width: 15rem

        &:nth-child(1)
          margin-top: 2rem

    &.forgot
      display: none
      flex-direction: column
      align-items: center
      h3
        color: $app-blue-500
        margin: 1rem auto
      img
        width: 8rem
      a.return-back
        color: $app-blue-500
        transition: 0.3s
        &:hover
          text-decoration: none
          color: $app-blue-600

    &.pay
      display: flex
      flex-direction: column
      align-items: center
      h3
      color: $app-blue-500
      margin: 1rem auto


button.btn-green
  width: 12rem
  height: 3rem
  background: $app-green-500
  outline: none
  border: none
  border-radius: 2rem
  margin: 0.7rem 0
  color: white
  font-weight: 500
  transition: 0.3s


  &:hover
    background: $app-green-600
    background-image: url(../img/ui/button-line.png)
    background-repeat: no-repeat
    background-position: 5% 25%

button.btn-blue
  width: 12rem
  height: 3rem
  background: $app-blue-500
  outline: none
  border: none
  border-radius: 2rem
  margin: 0.7rem 0
  color: white
  font-weight: 500
  transition: 0.3s


  &:hover
    background: $app-blue-600
    background-image: url(../img/ui/button-line.png)
    background-repeat: no-repeat
    background-position: 5% 25%

button.btn-darkblue
  width: 12rem
  height: 3rem
  background: $app-darkblue-500
  outline: none
  border: none
  border-radius: 2rem
  margin: 0.7rem 0
  color: white
  font-weight: 500
  transition: 0.3s


  &:hover
    background: $app-darkblue-600
    background-image: url(../img/ui/button-line.png)
    background-repeat: no-repeat
    background-position: 5% 25%


button.btn-default
  color: $app-blue-500
  background: none
  outline: none
  border: none
  font-weight: 600
  font-size: 0.8rem
  padding: 0.5rem 1rem

  &.active
    background: $app-blue-500
    border-radius: 4px
    color: white

a.btn-outline
  font-weight: 600
  background: $app-white-400
  border-radius: 6px
  padding: 0.5rem 1rem
  color: black
  transition: 0.3s

  &:hover
    text-decoration: none
    color: $app-blue-500


/* END COMPONENTS */
html
  font-size: 16px
body
  margin-top: 0
  margin: 0

.wrapper
  padding-top: 4.5rem
  display: flex
  position: relative
  max-width: 90rem
  padding-right: 15px
  padding-left: 15px
  margin: 0 auto
  height: 100%

.top-menu
  z-index: 100
  width: 100%
  height: 4.5rem
  background: white
  display: flex
  position: fixed
  justify-content: space-between

  &__content
    display: flex
    margin: 0 auto
    width: 98%
    justify-content: space-between
    align-items: center

    a:hover
      text-decoration: none
    .brand
      display: flex
      align-items: center

      &__img
        img
          width: 3rem

      &__text
        color: $app-blue-500
        font-family: Open Sans
        font-size: 1rem
        margin-left: 1rem

    .menu-list
      display: flex
      list-style-type: none
      padding: 0
      margin: 0

      li
        padding-left: 2rem

        a
          color: $app-blue-500
          font-family: Open Sans
          transition: 0.3s
          font-weight: 600
          &:hover
            text-decoration: none
            color: $app-blue-600
          &:active
            text-decoration: none

    .menu-user
      display: flex
      align-items: center

      & > *
        margin-left: 3rem

      a
        font-weight: 600
        transition: 0.3s

        &:hover
        text-decoration: none
        color: $app-blue-600
        &:active
          text-decoration: none

      a.notifs-active
        position: relative

        .notifs-circle
          position: absolute
          top: 0
          right: 0
          background: $app-blue-500
          border-radius: 100%
          width: 0.5rem
          height: 0.5rem

      .user-block
        display: flex
        align-items: center

        &__name
          color: $app-blue-500
          font-weight: 500
          margin-left: 1rem


.news
  display: flex
  flex-direction: column

  &-title
    font-weight: 400

  &-block
    margin-top: 1rem
    display: flex
    flex-direction: column

    &__item
      display: flex
      justify-content: space-between
      margin-bottom: 1rem

      &_left
        display: flex
        align-items: center

      &-img
        width: 4rem
        height: 4rem
        object-fit: cover

      &-info
        margin-left: 2rem

      &-name
        font-weight: 600

      &-data
        display: flex
        margin-top: 0.5rem

        &.center
          justify-content: center

          .news-block__item-data-time
            margin-right: 0

        &-author, &-time
          display: flex
          align-items: center
          margin-right: 1rem

        &-text
          color: $app-gray-500
          font-size: 0.8rem
          font-weight: 600
          margin-left: 0.2rem

      &_right
        display: flex
        justify-content: center
        align-items: center
#svg2 path
  transition: all .5s
  fill: rgb(65, 105, 225)
  stroke: rgba(0, 0, 0, 0.5)

.m-0.leader-text
  font-family: Open Sans
  font-weight: 700
  margin-top: 1rem


.platform_content
  opacity: 0
  transition: opacity .2s linear
  display: flex
  flex-direction: column
  width: 193px
  height: 193px
  position: absolute
  z-index: 100
  background-color: #57ABE5
  border-radius: 10px
  padding: auto

  &:hover
    opacity: 1

.content_text1
  width: 100%
  margin-top: 20px
  font-style: normal
  font-weight: bold
  text-align: center
  font-size: 12px
  line-height: 16px
  color: #FFFFFF

.content_text2
  width: 100%
  max-width: 80%
  margin: 0 auto
  font-style: normal
  font-weight: normal
  font-size: 10px
  line-height: 14px
  text-align: center
  color: #FFFFFF

.platform_content a
  margin: auto auto 50px auto
  text-decoration: none
  font-style: normal
  font-weight: bold
  font-size: 10px
  line-height: 14px
  text-align: center
  color: #FFFFFF

.indicator
  position: absolute
  display: inline
  background: rgba(255, 255, 255, 0.8)
  color: #007bff
  padding: 10px 30px
  font: 20px Arial
  border-radius: 5px
  min-width: 300px
  text-transform: capitalize
  display: none

.list
  position: absolute
  margin-top: 96px
  margin-left: 34px
  font-style: normal
  font-weight: bold
  font-family: "Open Sans", sans-serif
  font-size: 16px
  line-height: 22px
  color: #000000
  z-index: 1


.arrow
  position: absolute

  &.one
    left: 34px
    top: 346px


  &.two
    right: 32px
    top: 346px



.content
  width: 1138px
  height: 720px
  position: absolute
  top: 159px


.private_rating
  width: 300px
  height: 720px
  background: #FFFFFF
  border: 1px solid #CCCCCC
  box-sizing: border-box
  border-radius: 10px
  display: inline-block
  float: left
  padding: 15px 21px 0 11px


.comand_rating
  width: 300px
  height: 100%
  background: #FFFFFF
  border: 1px solid #CCCCCC
  box-sizing: border-box
  border-radius: 10px
  display: inline-block
  margin-left: 115px
  padding: 15px 21px 0 11px


.private_prof_rating
  width: 300px
  height: 100%
  background: #FFFFFF
  border: 1px solid #CCCCCC
  box-sizing: border-box
  border-radius: 10px
  display: inline-block
  float: right
  padding: 15px 21px 0 11px


.arrow
  position: absolute

  &.one
    left: 34px
    top: 346px


  &.two
    right: 32px
    top: 346px



.content
  width: 1138px
  height: 720px
  position: absolute
  top: 159px


.private_rating
  width: 300px
  height: 720px
  background: #FFFFFF
  border: 1px solid #CCCCCC
  box-sizing: border-box
  border-radius: 10px
  display: inline-block
  float: left
  padding: 15px 21px 0 11px


.comand_rating
  width: 300px
  height: 100%
  background: #FFFFFF
  border: 1px solid #CCCCCC
  box-sizing: border-box
  border-radius: 10px
  display: inline-block
  margin-left: 115px
  padding: 15px 21px 0 11px


.private_prof_rating
  width: 300px
  height: 100%
  background: #FFFFFF
  border: 1px solid #CCCCCC
  box-sizing: border-box
  border-radius: 10px
  display: inline-block
  float: right
  padding: 15px 21px 0 11px


.title
  font-family: Open Sans
  font-style: normal
  font-weight: bold
  font-size: 16px
  color: #57ABE5
  text-align: center
  height: 46px


.user
  width: 100%
  height: 40px
  position: relative
  margin-bottom: 13px


.number
  width: 11px
  height: 40px
  font-family: Open Sans
  font-style: normal
  font-weight: bold
  font-size: 18px
  position: absolute
  top: 5px

  &.first
    left: 6px



.image
  position: absolute
  left: 25px


.name_crown
  position: absolute
  top: 7px
  left: 80px
  padding-bottom: 7px
  width: 187px
  border-bottom: 3px solid #CCCCCC
  border-radius: 2px

  &.one:before
    width: 170px
    border-bottom: 3px solid #2ECC71
    border-radius: 2px
    content: ""
    display: block
    position: absolute
    top: 31px


  &.two:before
    width: 120px
    border-bottom: 3px solid #FF9F43
    border-radius: 2px
    content: ""
    display: block
    position: absolute
    top: 31px


  &.three:before
    width: 50px
    border-bottom: 3px solid #FF3838
    border-radius: 2px
    content: ""
    display: block
    position: absolute
    top: 31px



.crown
  position: absolute
  top: 6px
  right: 58px


.rating
  &.one
    position: absolute
    left: 225px
    top: 42px
    color: #2ECC71
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 16px


  &.two
    position: absolute
    left: 175px
    top: 42px
    color: #FF9F43
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 16px


  &.three
    position: absolute
    left: 105px
    top: 42px
    color: #FF3838
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 16px


/* LK */

.sidebar
  width: 4.5rem
  height: calc(100vh - 9rem)
  background: white
  position: fixed
  left: 0
  top: 4.5rem

  &__list
    display: flex
    flex-direction: column
    align-items: center

  &__item
    height: 4.5rem
    width: 4.5rem
    display: flex
    justify-content: center
    align-items: center
    transition: 0.3s
    border-left: 1px solid transparent

    svg
      fill: #E0E0E0
      transition: 0.3s

    &:hover
      background: #EEF6FD
      border-left: 1px solid $app-blue-500

      svg
        fill: $app-blue-500

.block-vertical
  display: flex
  flex-direction: column

.block-lg
  width: 75%
  background: white
  border-radius: 1rem
  margin: 1.5rem
  padding: 1.5rem

  .block__header
    color: $app-blue-500
    font-weight: 600

  .block__table
    margin-top: 1rem
    width: 100%

    th
      .table-header
        color: $app-gray-600
        font-weight: 600
        font-size: 0.8rem
    td
      vertical-align: middle
      span
        font-size: 0.8rem

        &.table-bold
          font-weight: 600
      a
        transition: 0.3s
        font-weight: 600
      a:hover
        text-decoration: none
        color: $app-blue-600

.block-info
  width: 25%
  padding: 1.5rem
  margin: 1.5rem 0
  background: white
  border-radius: 1rem

  &__ref
    background: white
    padding: 1rem
    margin: 1.5rem
    border-radius: 1rem

  &__text
    color: $app-gray-500
    font-weight: 400
    text-align: center

  &__clipboard
    margin-top: 1rem
    display: flex
    align-items: center
    justify-content: center

    img
      margin-left: 1rem
      cursor: pointer

  &__wallet
    background: white
    margin: 1.5rem
    padding: 1rem
    border-radius: 1rem

  &__list
    margin-top: 1rem
    display: flex
    flex-direction: column
    align-items: center

  .button-group
    margin-top: 1rem

    button
      width: 100%

  &__tasks
    background: white
    margin: 1.5rem
    padding: 1rem
    border-radius: 1rem

.block-center
  margin: 1.5rem auto

.footer
  margin-top: 2rem
  z-index: 101
  background: white
  height: 4.5rem
  display: flex
  align-items: center

  &__content
    width: 98%
    margin: 0 auto
    display: flex
    align-items: center

  &__contact
    display: flex
    align-items: center
    width: 33.3%

    &-text
      margin-left: 1rem
      display: flex
      flex-direction: column

      a:hover
        text-decoration: none
        color: $app-blue-500

    img
      width: 3rem

  &__links
    width: 33.3%
    a
      padding: 0 1rem
      &:hover
        text-decoration: none
        color: $app-blue-500

  &__net
    width: 33.3%
    display: flex
    justify-content: flex-end

    a:nth-child(2)
      padding-left: 1rem

.reg
  display: flex
  flex-direction: column
  align-items: center
  &__text
    color: $app-blue-500

  button
    width: 15rem

    &[disabled]
      background: $app-gray-500

.teachers

  &__block
    display: flex
    flex-wrap: wrap
    &-item
      width: 20%
      margin: 2.5% 2.5%
      box-sizing: border-box
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15)
      border-radius: 6px
      position: relative
      padding-bottom: 6rem

      &.game
        padding-bottom: 1rem

      .teacher__img
        display: inline-block
        height: auto
        max-width: 100%
        max-height: 11rem
        width: 100%
        object-fit: cover
        border-top-left-radius: 6px
        border-top-right-radius: 6px

      .teacher__name
        margin-top: 1.5rem
        margin-bottom: .5rem
        text-align: center
        padding: 0 0.5rem
        font-weight: 600
        color: $app-black-500

      .teacher__hr
        width: 80%
        height: 1px
        margin: 0 auto
        border-radius: 100%
        background: $app-gray-700
        margin-bottom: 0.5rem

      .teacher__text_gray
        text-align: center
        color: $app-gray-700
        font-weight: 600
        font-size: 0.8rem


        &.margin
          margin-top: 0.5rem

      .teacher__text_black
        text-align: center
        padding: 0.2rem 1rem
        font-size: 0.8rem
        font-weight: 500

        &.gradation
          margin-bottom: 0.5rem

      .add-team
        text-align: center
        position: absolute
        bottom: 1rem
        margin: 0
        width: 100%
        button
          width: 90%

.steps
  .block__container
    display: flex

    .steps__road
      display: flex
      padding-left: 0
      flex-direction: column

      &-text
        margin-top: 1rem
        color: $app-blue-500
        font-weight: 400

      &-links
        display: flex
        flex-direction: column
        margin-top: 1rem
        padding-right: 1rem

        a
          color: $app-gray-600
          font-weight: 600
          font-size: 0.8rem
          line-height: 1.2rem
          margin-bottom: 1rem
          transition: 0.3s

          &.link-active
            color: $app-orange-500

            &:hover
              text-decoration: none

          &:not(.link-active):hover
            text-decoration: none
            color: $app-blue-500

    .steps__study
      margin-top: 1rem
      margin-left: 1rem

      button.add-item
        padding: 0.2rem 0

      &-buttons
        margin-top: 1rem
        button:not(:last-child)
          margin-right: 0.5rem

      .table
        display: none
        &.active
          display: block

    .steps__rate

      .rate-item
        width: 100%
        margin-top: 1rem
        &__header
          display: flex
          font-size: 0.8rem
          font-weight: 600
          justify-content: space-between

          &_text
            color: black
          &_status
            &.green
              color: $app-green-500
            &.orange
              color: $app-orange-500
            &.red
              color: $app-red-500
        &__bar
          &_full
            position: relative
            width: 100%
            height: 4px
            border-radius: 1rem
            background: $app-gray-600
            margin-top: 0.5rem
          &_progress
            position: absolute
            top: 0
            left: 0
            &.green
              width: 80%
              height: 4px
              background: $app-green-500
            &.orange
              width: 80%
              height: 4px
              background: $app-orange-500
            &.red
              width: 80%
              height: 4px
              background: $app-red-500

input.add-video
  display: none

.selected-file
  margin-top: 0.2rem
  text-align: center
  font-weight: 400
  font-size: 0.8rem

.table-gg
  th
    vertical-align: middle
    text-align: center
  tbody
    border: 1px solid #ccc
    .levels
      border-right: 1px solid #ccc
    td
      width: 15%
    .width-50
      width: 50%
      text-align: center

.video-block
  &__item
    margin-bottom: 1rem
    &-name
      text-align: center
      font-weight: 600
      padding-bottom: 0.5rem

/* ERRORS */
.alert
  padding: .5rem 1rem
  border-radius: 10px
  text-align: center
  margin-bottom: 1rem
  color: red
  background: rgba(255, 0, 0, .3)

/* ERRORS */ 