mixin footer(libs)
    .footer
        .footer__content
            .footer__contact
                img(src='img/logo/global_game.png')
                .footer__contact-text
                    a(href='#') +7 (916) 006-88-82
                    a(href='mailto:') liderupravlenia@yandex.ru
            .footer__links
                a(href='#') Обратная связь
                a(href='#') Пользовательское соглашение
            .footer__net
                a(href='https://vk.com/public190328761')
                    img(src='img/ui/vk.png')
                a(href='https://www.instagram.com/')
                    img(src='img/ui/inst.png')

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src='/js/map.js' type='text/javascript')
    - if (libs != false)
        for lib in libs
            script(src='/js/' + lib.name)