mixin header(title, subtitle)
    html
        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
            link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap&subset=cyrillic" rel="stylesheet")
            link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
            link(href="/sass/main.css", rel="stylesheet")
            link(href="/sass/main.css", rel="stylesheet")
            link(rel='shortcut icon', href='/img/logo/strategy.ico', type='image/x-icon')
            title= title
        body(style="background:#F6F8FA")
        .top-menu
            .top-menu__content
                a(href='/')
                    .brand
                        .brand__img
                            img(src='/img/logo/global_game.png')
                        .brand__text= subtitle
                if !isAuth
                    ul.menu-list
                        li
                            a(href='/news') Новости
                        li
                            a(href='/game') Игра «100 дней»
                        li
                            a(href='#login', data-open='#auth-form', modal='') Вход
                        li
                            a(href='/reg') Регистрация
                else
                    ul.menu-list
                        li
                            a(href='/news') Новости
                        li
                            a(href='/game') Игра «100 дней»
                        li
                            a(href='/lk') Личный кабинет

        .dialogue#auth-form
            .dialogue__form
                .dialogue__close-wrapper
                    img.dialogue__close(src='img/ui/close.png', data-close='#auth-form')

                form.form.sign-in(action='/login', method='post')
                    img.form-logo(src='img/logo/global_game.png')
                    h3 Добро пожаловать
                    if error
                        p.alert #{error}
                    .form__item
                        label.form__label Email
                        input.form__input(type='text', placeholder='Email', autocomplete='on' id='userName' name='email')
                        input(type="hidden" name="_csrf" value=csrf)
                    .form__item
                        label.form__label Пароль
                        input.form__input(type='password', placeholder='•••••••', autocomplete='on' id='userPassword' name='password')
                    .form__item.no-margin
                        button.btn-blue(type="submit") Войти

                    a.forgot-password(href='#') Забыли пароль?

                form.form.forgot(action='/reset', method='post')
                    img.form-logo(src='img/logo/strategy.png')
                    h3 Восстановление доступа
                    if errorReset
                        p.alert #{errorReset}
                    .form__item
                        label.form__label Email
                        input.form__input(type='email', placeholder='Email', autocomplete='on' id='userName' name='email')
                        input(type="hidden" name="_csrf" value=csrf)
                    .form__item.no-margin
                        button.btn-blue Восстановить

                    a.return-back(href='#') Назад
