mixin sidebar()
    .sidebar
        .sidebar__list
            a.sidebar__item(href='/')
                svg(width="20" height="20" viewBox="0 0 25 24" fill="#E0E0E0" xmlns="http://www.w3.org/2000/svg")
                    path(d="M24.5804 10.5202L20.7915 6.73133V2.35454C20.7915 1.56316 20.1502 0.921805 19.3576 0.921805C18.5669 0.921805 17.9256 1.56316 17.9256 2.35454V3.8655L15.1045 1.04428C13.7097 -0.34975 11.2846 -0.347277 9.89303 1.04681L0.419435 10.5202C-0.139812 11.0806 -0.139812 11.9873 0.419435 12.5468C0.978935 13.107 1.8874 13.107 2.44669 12.5468L11.9194 3.07311C12.228 2.76613 12.7719 2.76613 13.0789 3.0722L22.5532 12.5468C22.8341 12.8269 23.2004 12.9662 23.5665 12.9662C23.9335 12.9662 24.3003 12.8267 24.5804 12.5468C25.1399 11.9873 25.1399 11.0806 24.5804 10.5202Z")
                    path(d="M12.9977 5.79279C12.7224 5.51771 12.2768 5.51771 12.0024 5.79279L3.66937 14.1233C3.53781 14.2548 3.46322 14.4344 3.46322 14.6218V20.6977C3.46322 22.1235 4.61926 23.2795 6.04498 23.2795H10.1707V16.8902H14.8285V23.2795H18.9542C20.3799 23.2795 21.5359 22.1235 21.5359 20.6978V14.6218C21.5359 14.4344 21.462 14.2548 21.3298 14.1233L12.9977 5.79279Z")

            a.sidebar__item(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', height='20', viewBox='0 0 512 512', width='20')
                    path(d='m512 256c0-141.488281-114.496094-256-256-256-141.488281 0-256 114.496094-256 256 0 140.234375 113.539062 256 256 256 141.875 0 256-115.121094 256-256zm-256-226c124.617188 0 226 101.382812 226 226 0 45.585938-13.558594 89.402344-38.703125 126.515625-100.96875-108.609375-273.441406-108.804687-374.59375 0-25.144531-37.113281-38.703125-80.929687-38.703125-126.515625 0-124.617188 101.382812-226 226-226zm-168.585938 376.5c89.773438-100.695312 247.421876-100.671875 337.167969 0-90.074219 100.773438-247.054687 100.804688-337.167969 0zm0 0')
                    path(d='m256 271c49.625 0 90-40.375 90-90v-30c0-49.625-40.375-90-90-90s-90 40.375-90 90v30c0 49.625 40.375 90 90 90zm-60-120c0-33.085938 26.914062-60 60-60s60 26.914062 60 60v30c0 33.085938-26.914062 60-60 60s-60-26.914062-60-60zm0 0')

            a.sidebar__item(href='/')
                svg#Capa_1(xmlns='http://www.w3.org/2000/svg', enable-background='new 0 0 512 512', height='20', viewBox='0 0 512 512', width='20')
                    path(d='m510.264 126.975-62.159-117.788c-3.864-7.324-12.933-10.129-20.258-6.269l-171.848 90.586c-7.325 3.861-10.135 12.927-6.28 20.255l15.832 30.088-53.14 27.935-15.805-30.037c-3.857-7.327-12.94-10.153-20.272-6.281l-82.88 43.726c-88.098 46.438-120.235 157.125-68.927 243.928l-11.264 11.259c-17.51 17.503-17.515 45.838 0 63.344 17.466 17.458 45.884 17.459 63.351 0l11.672-11.666c52.409 29.807 117.928 31.531 173.766-.405 72.812-41.655 102.882-126.539 80.877-201.204-7.754-26.309 4.158-55.289 29.891-68.572l131.132-68.606c7.356-3.851 10.187-12.951 6.312-20.293zm-454.856 349.527c-5.775 5.77-15.167 5.77-20.94 0-5.779-5.778-5.781-15.127 0-20.906l7.712-7.709c6.438 7.557 13.469 14.514 21.034 20.812zm303.555-287.236c-37.912 19.532-56.757 63.119-44.809 103.661 19.059 64.67-8.491 133.212-66.997 166.682-70.82 40.509-159.959 15.409-199.137-55.821-39.107-71.09-12.377-160.213 59.425-198.062l69.606-36.723 15.795 30.018c3.857 7.329 12.925 10.147 20.252 6.292l79.692-41.894c7.327-3.852 10.153-12.931 6.294-20.263l-15.84-30.103 145.326-76.606 48.136 91.216z')
                    path(d='m263.703 286.38c-25.014-48.477-85.179-66.93-134.68-40.394-48.941 26.236-68.438 86.958-43.465 135.359 24.959 48.368 85.07 66.988 134.68 40.394 48.94-26.236 68.437-86.957 43.465-135.359zm-57.638 108.918c-34.887 18.703-76.614 5.691-93.849-27.71-17.507-33.93-3.61-76.618 30.979-95.16 34.649-18.577 76.495-5.922 93.849 27.71v-.001c17.507 33.93 3.61 76.619-30.979 95.161z')
                    path(d='m176.809 71.868c3.86 7.334 12.931 10.146 20.258 6.289 7.331-3.857 10.146-12.929 6.289-20.26l-22.174-42.143c-3.858-7.331-12.927-10.147-20.258-6.289-7.331 3.857-10.146 12.929-6.289 20.26z')
                    path(d='m110.9 110.07 45.281 9.834c8.078 1.757 16.079-3.366 17.84-11.475 1.758-8.096-3.379-16.084-11.474-17.842l-45.281-9.834c-8.097-1.761-16.082 3.38-17.84 11.475-1.757 8.096 3.38 16.084 11.474 17.842z')
                    path(d='m235.078 76.337c7.659 3.139 16.424-.525 19.564-8.196l17.823-43.525c3.139-7.666-.53-16.426-8.196-19.565-7.668-3.142-16.425.53-19.564 8.196l-17.823 43.525c-3.139 7.666.53 16.426 8.196 19.565z')

            a.sidebar__item(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', height='20', viewBox='-1 0 484 484', width='20')
                    path(d='m313 476.753906v-80.707031c-.066406-33.085937-26.832031-59.910156-59.914062-60.046875h-33.085938v-27.109375c1.707031-1.390625 3.285156-2.933594 4.714844-4.609375 18.167968-18.546875 28.328125-43.492188 28.285156-69.457031v-93.347657c8-4.757812 13.742188-11.640624 18.382812-20.363281 5.828126-10.945312 9.121094-24.632812 9.121094-38.539062.019532-2.039063-.863281-3.984375-2.410156-5.316407-1.542969-1.332031-3.597656-1.917968-5.613281-1.597656l-64.835938 10.195313c-11.238281 1.78125-22.730469 1.160156-33.710937-1.824219l-29.691406-8.019531c-10.039063-2.753907-20.78125-.632813-29.019532 5.722656-2.71875 2.058594-5.109375 4.507813-7.097656 7.273437-30.320312 17.253907-49.070312 49.4375-49.125 84.324219v61.492188c.003906 25.980469 10.203125 50.921875 28.40625 69.457031 1.480469 1.519531 3.59375 2.980469 4.59375 4.390625v27.328125h-32.570312c-32.984376 0-59.429688 27.0625-59.429688 60.046875v80.707031c0 3.867188 2.75 7.246094 6.617188 7.246094h299.28125c3.933593-.109375 7.074218-3.3125 7.101562-7.246094zm-189.328125-383.898437c3.378906-2.597657 7.515625-4.007813 11.777344-4.011719 1.730469.003906 3.457031.230469 5.128906.683594l29.699219 8.023437c12.882812 3.5 26.359375 4.226563 39.542968 2.136719l56.371094-8.863281c-2.453125 25.152343-16.015625 38.5-27.960937 42.488281-7.277344 1.101562-84.113281 12.605469-119.253907 12.605469-1.621093 0-2.945312-1.296875-2.976562-2.917969v-34.738281c.003906-6.054688 2.839844-11.757813 7.671875-15.410157zm-21.671875 17.496093v32.648438c.003906 8.378906 6.144531 15.492188 14.433594 16.71875-13.773438 10.691406-28.433594 15.582031-43.433594 14.582031v-.96875c.105469-24.199219 10.679688-47.167969 29-62.980469zm-29 124.472657v-46.507813c1 .066406 2.601562.109375 3.835938.109375 26.601562 0 47.210937-15 60.886718-29.222656 37.71875-2.433594 91.277344-10.367187 101.277344-11.898437v87.519531c.066406 22.304687-8.636719 43.742187-24.230469 59.691406-15.789062 16.214844-36.546875 25.144531-58.597656 25.144531-22.179687-.046875-43.382813-9.125-58.726563-25.144531-15.652343-15.925781-24.429687-37.359375-24.445312-59.691406zm83.121094 98.835937c17.628906.011719 34.910156-4.917968 49.878906-14.234375v20.480469c-29.175781 23.527344-70.808594 23.542969-100 .03125v-20.664062c15.019531 9.417968 32.390625 14.40625 50.121094 14.386718zm142.878906 136.339844h-285v-73.953125c0-25.261719 20.167969-46.046875 45.429688-46.046875h37.121093c34.417969 29 84.722657 29 119.140625 0h37.394532c25.351562.128906 45.855468 20.691406 45.914062 46.046875zm0 0')
                    path(d='m121.660156 246.757812c13.933594-.015624 25.222656-11.304687 25.238282-25.238281 0-3.863281-3.132813-7-7-7-3.863282 0-7 3.136719-7 7 0 6.207031-5.027344 11.238281-11.234376 11.238281-6.203124 0-11.234374-5.03125-11.234374-11.238281 0-3.863281-3.132813-7-7-7-3.867188 0-7 3.136719-7 7 .015624 13.929688 11.300781 25.21875 25.230468 25.238281zm0 0')
                    path(d='m190.851562 246.757812c13.929688-.019531 25.21875-11.304687 25.234376-25.238281 0-3.863281-3.132813-7-7-7-3.863282 0-7 3.136719-7 7 0 6.207031-5.027344 11.238281-11.234376 11.238281-6.203124 0-11.234374-5.03125-11.234374-11.238281 0-3.863281-3.132813-7-7-7-3.867188 0-7 3.136719-7 7 .015624 13.933594 11.304687 25.222657 25.234374 25.238281zm0 0')
                    path(d='m475.382812 0h-177.523437c-3.886719.128906-6.945313 3.359375-6.859375 7.246094v131.980468c-.023438 1.816407.695312 3.566407 1.988281 4.84375 1.292969 1.28125 3.050781 1.976563 4.871094 1.929688h26.140625v31.554688c.039062 3.878906 3.199219 7.003906 7.078125 7 1.484375-.042969 2.921875-.542969 4.109375-1.433594l51.363281-37.121094h88.832031c1.792969.035156 3.523438-.671875 4.777344-1.953125 1.25-1.285156 1.917969-3.027344 1.839844-4.820313v-131.980468c0-3.867188-2.75-7.246094-6.617188-7.246094zm-7.382812 132h-83.707031c-1.496094.039062-2.945313.539062-4.148438 1.433594l-42.144531 30.449218v-24.65625c.066406-3.890624-3.003906-7.109374-6.894531-7.226562h-26.105469v-118h163zm0 0')
                    path(d='m328.742188 50h67.527343c3.863281 0 7-3.132812 7-7s-3.136719-7-7-7h-67.527343c-3.867188 0-7 3.132812-7 7s3.132812 7 7 7zm0 0')
                    path(d='m328.742188 80h117.527343c3.863281 0 7-3.132812 7-7s-3.136719-7-7-7h-117.527343c-3.867188 0-7 3.132812-7 7s3.132812 7 7 7zm0 0')
                    path(d='m328.742188 110h117.527343c3.863281 0 7-3.132812 7-7s-3.136719-7-7-7h-117.527343c-3.867188 0-7 3.132812-7 7s3.132812 7 7 7zm0 0')
