include components/lk_header
+header('Глобальная игра', 'Тренера')

.wrapper
    include components/sidebar
    +sidebar
    .block-lg.block-center.teachers
        .teachers__block
            each item in coach
                .teachers__block-item
                    img.teacher__img(src='img/uploads/users/foxx.jpg')
                    div.teacher__name #{item.name}, #{item.age} лет
                    div.teacher__hr
                    div.teacher__text_gray #{item.gradation}
                    div.teacher__hr
                    div.teacher__text_gray #{item.region}
                    div.teacher__about
                        div.teacher__text_gray.margin О себе
                        div.teacher__text_black #{item.about}
                    div.teacher__about
                        div.teacher__text_gray.margin Достижения
                        div.teacher__text_black #{item.achievements}
                    form.add-team(action="" method="post")
                        input(type="hidden" name="_csrf" value=csrf)
                        button.btn-green Пригласить в команду

include components/footer
- libs = [{'name': 'main.js'}]
+footer(libs)