include components/game_header
+header('Глобальная игра', 'Глобальная игра')
.banner
    .banner__texts
        h1.banner__title ЛИДЕРЫ УПРАВЛЕНИЯ
        .banner__subtitle Экономико-управленческая интерактивная игра «100 дней»
        
section.heightNone.myContainer    
    .slide_1
        .slide_1__item
            .slide_1__image 
                img.slide_1__img(src="img/slider-1/slide_1.svg", alt="")
            .slide_1__text Формирование региональных управленческих команд России, СНГ и других стран.
                
        .slide_1__item
            .slide_1__image 
                img.slide_1__img(src="img/slider-1/slide_2.svg", alt="")
            .slide_1__text 60 дней (120 часов) экспресс-подготовки по стратегическому управлению, включая пси-техники, финансовое и управленческое консультирование игроков. Выполнение 60 квалификационных заданий (решение управленческо-деловых ситуаций), разработка 30 бизнес-стратегий. Разработка стратегии национального проекта «Победа-Победа».
                | Экспертные заключения, рекомендации и номинации от  ведущих экономистов страны.

        .slide_1__item
            .slide_1__image 
                img.slide_1__img(src="img/slider-1/slide_3.svg", alt="")
            .slide_1__text Разработка логистической цепочки (дорожной карты Проекта)  с получением финансирования вашей командой Проекта по созданию механизмов выполнения Национального проекта по одной из инициатив Президента РФ-2018: «Новое качество жизни, рост доходов граждан-2024» (федеральный или региональный, или муниципальный уровень)
        
    .rectangle_primary Как стать участником проекта?

    .slide--parent
        .parent--el.el-first
            .two--col
                .is-item.has--content
                    .is-item--inner
                        div.slider-header СТРАТЕГИЯ ПОБЕДИТЕЛЯ

                        div.slider-text ИНТЕРАКТИВНЫЙ ТРЕНАЖЕР, РАЗВИВАЮЩИЙ СИСТЕМНОЕ, СТРАТЕГИЧЕСКОЕ, КОМБИНАТОРНОЕ МЫШЛЕНИЕ И КОГНИТИВНЫЕ СПОСОБНОСТИ!
                        a.slider-btn Подробнее
        .parent--el.el-second
            .two--col
                .is-item.has--content
                    .is-item--inner
                        div.slider-header РАЗРАБОТКА БОЛЕЕ 30 БИЗНЕС-СТРАТЕГИЙ

                        div.slider-text СТРАТЕГИЯ АЙСБЕРГ - СТРАТЕГИЯ КАПИТАЛИЗАЦИИ КОМПАНИИ, ЕЁ КОНКУРЕНТОСПОСОБНОСТЬ И НЕПОТОПЛЯЕМОСТЬ
                        a.slider-btn Подробнее
        .parent--el.el-third
            .two--col
                .is-item.has--content
                    .is-item--inner
                        div.slider-header ВСТАНЬ НА КРЫЛО - ЗАПУСТИ ПРОЕКТ

                        div.slider-text СОЗДАНИЕ УСПЕШНЫХ ПРОЕКТОВ И ИХ РЕАЛИЗАЦИЯ
                        a.slider-btn Подробнее

        .parent--el.el-fouth
            .two--col
                .is-item.has--content
                    .is-item--inner
                        div.slider-header СОРЕВНОВАТЕЛЬНОЕ УПРАВЛЕНИЕ

                        div.slider-text ЭКОНОМИКО-УПРАВЛЕНЧЕСКАЯ ИНТЕРАКТИВНАЯ ИГРА "100 ДНЕЙ!
                        a.slider-btn Подробнее

                    


                                

    .rectangle_primary Аналога в мире нет!

    .theme СОЗДАНИЕ МЕХАНИЗМОВ ВЫПОЛНЕНИЯ СТРАТЕГИЧЕСКИХ ИНИЦИАТИВ ПРЕЗИДЕНТА: «НОВОЕ КАЧЕСТВО ЖИЗНИ»   

    .block
        .block__theme СТРАТЕГИЯ ПОБЕДИТЕЛЯ
        .block__text ИНТЕРАКТИВНЫЙ ТРЕНАЖЕР, ПОМОГАЮЩИЙ КАЖДОМУ УЧАСТНИКУ ПРОЕКТА РАЗВИТЬ СИСТЕМНОЕ, СТРАТЕГИЧЕСКОЕ, КОМБИНАТОРНОЕ МЫШЛЕНИЕ И КОГНИТИВНЫЕ СПОСОБНОСТИ ОТ 6+ ДО РУКОВОДИТЕЛЕЙ ВЫСШЕГО ЗВЕНА, ОТРАБОТАТЬ УПРАВЛЕНЧЕСКИЕ НАВЫКИ, САМОМУ РАЗРАБОТАТЬ БОЛЕЕ 30 БИЗНЕС-СТРАТЕГИЙ И МЕХАНИЗМ ИХ РЕАЛИЗАЦИИ

    .block
        .block__theme ЛИДЕРЫ УПРАВЛЕНИЯ
        .block__text УНИКАЛЬНАЯ СИСТЕМА ВЫЯВЛЕНИЯ, ОТБОРА, ФОРМИРОВАНИЯ И ПОДГОТОВКИ ПРОФЕССИОНАЛЬНЫХ КОМАНД УПРАВЛЕНЦЕВ - ТОП-МЕНЕДЖМЕНТА ПРОЕКТОВ И БИЗНЕСА НАЦИОНАЛЬНОГО УРОВНЯ

    .block
        .block__theme ГЛОБАЛЬНАЯ ИГРА
        .block__text ИНТЕРАКТИВНАЯ ИГРА КАПИТАЛИЗАЦИИ БИЗНЕСА, ОТБОР И ПРОФЕССИОНАЛЬНАЯ ПОДГОТОВКА КОМАНД РАБОТКИ ЭФФЕКТИВНОЙ МОДЕЛИ КАПИТАЛИЗАЦИИ БИЗНЕСА И РЕАЛИЗАЦИЯ ЕЁ В ЖИЗНИ.

    .rectangle_primary Что дает участие в управленческой игре «100 Дней»

    .block
        .block__text    
            ul.block__ul  
                li 
                    i.far.fa-check-circle   
                    | ПОЛУЧИТЬ УПРАВЛЕНЧЕСКИЕ НАВЫКИ ВЫСОКОЙ МАНЁВРЕННОСТИ, КОНКУРЕНТОСПОСОБНОСТИ И КАПИТАЛИЗАЦИИ

                li 
                    i.far.fa-check-circle   
                    | ПОЛУЧИТЬ СТАТУС-кво - ВЫСОКОЕ ПОЛОЖЕНИЕ В ОБЩЕСТВЕ

                li 
                    i.far.fa-check-circle   
                    | СОЗДАВАТЬ СВОИ ЭФФЕКТИВНЫЕ КОМАНДЫ ЗАПУСКА СТАРТАПОВ И РАЗВИТИЯ БИЗНЕСА   

                li 
                    i.far.fa-check-circle   
                    |  ПОЛУЧИТЬ БАЗОВЫЕ И ПРОФЕССИОНАЛЬНЫЕ ЗНАНИЯ ОТ ЛУЧШИХ МЕНТОРОВ И ТРЕНЕРОВ ПО СТРАТЕГИЧЕСКОМУ УПРАВЛЕНИЮ ПО УПРАВЛЕНИЮ

                li 
                    i.far.fa-check-circle   
                    | УЧАСТВОВАТЬ В СОРЕВНОВАТЕЛЬНОМ УПРАВЛЕНИИ - СОЗДАНИЕ МЕХАНИЗМА ВЫПОЛНЕНИЯ СТРАТЕГИЧЕСКИХ ИНИЦИАТИВ ПРЕЗИДЕНТА

                li 
                    i.far.fa-check-circle   
                    | ОТРАБОТКА НАВЫКОВ КОМАНДНОГО ВОСХОЖДЕНИЯ ПО ГОРИЗОНТАЛИ И ВЕРТИКАЛИ ВЛАСТИ    

                li 
                    i.far.fa-check-circle   
                    |  НАВЫКИ РАЗРАБОТКИ ЭФФЕКТИВНОЙ МОДЕЛИ РАЗВИТИЯ СВОЕГО БИЗНЕСА В В МАСШТАБАХ РАЗВИТИЯ ТЕРРИТОРИЙ

                li 
                    i.far.fa-check-circle   
                    | СТАТЬ ПОБЕДИТЕЛЕМ ЗАПУСКА СВОЕГО СТАРТАПА

    .rectangle_primary НАСТАВНИКИ

    .teachers__block
            .teachers__block-item.game
                img.teacher__img(src='img/uploads/users/foxx.jpg')
                div.teacher__name Алимов Иван Денисович, 20 лет
                div.teacher__hr
                div.teacher__text_gray Похититель сердец
            .teachers__block-item.game
                img.teacher__img(src='img/uploads/users/foxx.jpg')
                div.teacher__name Алимов Иван Денисович, 20 лет
                div.teacher__hr
                div.teacher__text_gray Похититель сердец
            .teachers__block-item.game
                img.teacher__img(src='img/uploads/users/foxx.jpg')
                div.teacher__name Алимов Иван Денисович, 20 лет
                div.teacher__hr
                div.teacher__text_gray Похититель сердец
            .teachers__block-item.game
                img.teacher__img(src='img/uploads/users/foxx.jpg')
                div.teacher__name Алимов Иван Денисович, 20 лет
                div.teacher__hr
                div.teacher__text_gray Похититель сердец

    .block-info.block-center
        .pay-block
            .pay-text Примите участие в современной деловой игре, чтобы прокачать свои скиллы
            button.btn-green(data-open='#pay-form', modal='') Присоединиться


    .rectangle_primary Руководители

    .block-lg.block-center
        .boss-block
            .boss-item
                img.boss-item__img(src='/img/uploads/mira.jpg')
                .boss-item__info
                    .boss-item__info_name Стрекаловская Мирослава Владимировна
                    .boss-item__info_about Разработчик и участник творческого коллектива Президентский проект "Новое качество жизни" и "Лидеры управления
                    .boss-item__info_call
                        .boss-item__info-item РФ, Москва,
                        .boss-item__info-item ул. Большая Филёвская, 29, оф. 151
                        .boss-item__info-item Тел.: +7 916 006 888 2
                        .boss-item__info-item Е-mail: lideryupravlenia@gmail.com
                        .boss-item__info-item Скайп: mvstrekalovskaya          

script(src="libs/jquery/jquery.min.js")
script(src="libs/slick/slick.min.js")
script(src="libs/flickity/flickity.js")
script(src="js/game.js")
script(src="js/main.js")
