include components/lk_header
+header('Профиль', 'Глобальная игра')

.wrapper
    .dialogue#study-form
        .dialogue__form
            .dialogue__close-wrapper
                img.dialogue__close(src='img/ui/close.png', data-close='#study-form')

            form.form.sign-in(action='', method='')
                h3 Добавить учреждение

                .form__item
                    label.form__label Тип учебного заведения
                    select.form-control.select(name='reg')
                        option(value='reg') первый
                        option(value='reg') второй
                .form__item
                    label.form__label Название учебного заведения
                    input.form__input(type='text', placeholder='МГУ', autocomplete='off' id='userStudy' name='reg')

                .form__item
                    label.form__label Мероприятия
                    input.form__input(type='text', placdeholder='', autocomplete='off', id='userEvent', name='reg')

                .form__item
                    label.form__label Награда
                    input.form__input(type='text', placdeholder='', autocomplete='off', id='userAward', name='reg')

                .form__item
                    label.form__label Добавить видео
                    input.add-video(type='file', accept='.mp4')
                    button.btn-green.imit-video Выбрать файл
                    div.file

                .form__item
                    button.btn-blue Сохранить

    include components/sidebar
    +sidebar

    .block-lg.block-center.steps
        .block__header Мой профиль
        .block__container
            .steps__road.col-lg-2
                .steps__road-text Этапы
                .steps__road-links
                    a.link-active(href='#')
                        | 01
                        br
                        | Стратегический анализ
                    a(href='#')
                        | 02
                        br
                        | Стратегия победителя
                    a(href='#')
                        | 03
                        br
                        | Дорожная карта
                    a(href='#')
                        | 04
                        br
                        | Команда
            form(action="/lk/table" method="post")
                .block-vertical
                    table.table.block__table.table-gg
                        tr
                            th(rowspan='3').levels
                                span.table-header Уровни
                            th(colspan='5')
                                span.table-header Система управления
                        tr
                            td(colspan='2').width-50
                                span.table-bold Субъект управления: власть (жесткое управление)
                            td(colspan='3').width-50
                                span.table-bold Объект управления: социально-экономические сферы развития территорий и регионов (мягкое управление)
                        tr
                            td.text-center
                                span.table-data Представительные депутаты
                            td.text-center
                                span.table-data Исполнительные Топ-менеджеры
                            td.text-center
                                span.table-data Менеджеры
                            td.text-center
                                span.table-data Функциональные менежеры-специалисты
                            td.text-center
                                span.table-data Граждане
                        tr
                            td
                                span.table-data Федеральный
                            td.text-center
                                .radio
                                    input#radio-1(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-1')
                            td.text-center
                                .radio
                                    input#radio-2(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-2')
                            td.text-center
                                .radio
                                    input#radio-3(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-3')
                            td.text-center
                                .radio
                                    input#radio-4(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-4')
                            td.text-center
                                .radio
                                    input#radio-5(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-5')
                        tr
                            td
                                span.table-data Региональный
                            td.text-center
                                .radio
                                    input#radio-6(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-6')
                            td.text-center
                                .radio
                                    input#radio-7(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-7')
                            td.text-center
                                .radio
                                    input#radio-8(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-8')
                            td.text-center
                                .radio
                                    input#radio-9(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-9')
                            td.text-center
                                .radio
                                    input#radio-10(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-10')
                        tr
                            td
                                span.table-data Муниципальный
                            td.text-center
                                .radio
                                    input#radio-11(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-11')
                            td.text-center
                                .radio
                                    input#radio-12(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-12')
                            td.text-center
                                .radio
                                    input#radio-13(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-13')
                            td.text-center
                                .radio
                                    input#radio-14(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-14')
                            td.text-center
                                .radio
                                    input#radio-15(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-15')
                        tr
                            td
                                span.table-data Хозяйствующий субъект
                            td.text-center
                                .radio
                                    input#radio-16(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-16')
                            td.text-center
                                .radio
                                    input#radio-17(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-17')
                            td.text-center
                                .radio
                                    input#radio-18(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-18')
                            td.text-center
                                .radio
                                    input#radio-19(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-19')
                            td.text-center
                                .radio
                                    input#radio-20(name='info', type='radio', checked='')
                                    label.radio-label(for='radio-20')
                        input(type="hidden" name="_csrf" value=csrf)
                        button.btn-blue(type="submit") Отправить

include components/footer
- libs = [{'name': 'main.js'}]
+footer(libs)