include components/lk_header
+header('Новости', 'Новости')

.wrapper
    .block-lg.news
        .news-title В разделе «Новости» мы рассказываем о самых разных событиях из жизни проекта -<br>от запуска новых этапов состязания до списков лидеров каждого из направлений.
        .news-block
            .news-block__item
                .news-block__item_left
                    img.news-block__item-img(src='img/uploads/news.png')
                    .news-block__item-info
                        .news-block__item-name Объявление о начале нового этапа конкурса
                        .news-block__item-data
                            .news-block__item-data-author
                                img(src='img/ui/user.png')
                                .news-block__item-data-text Admin
                            .news-block__item-data-time
                                img(src='img/ui/time.png')
                                .news-block__item-data-text 06.12.2019
                .news-block__item_right
                    a(href='#').btn-outline Подробнее
            .news-block__item
                .news-block__item_left
                    img.news-block__item-img(src='img/uploads/news.png')
                    .news-block__item-info
                        .news-block__item-name Объявление о начале нового этапа конкурса
                        .news-block__item-data
                            .news-block__item-data-author
                                img(src='img/ui/user.png')
                                .news-block__item-data-text Admin
                            .news-block__item-data-time
                                img(src='img/ui/time.png')
                                .news-block__item-data-text 06.12.2019
                .news-block__item_right
                    a(href='#').btn-outline Подробнее
            .news-block__item
                .news-block__item_left
                    img.news-block__item-img(src='img/uploads/news.png')
                    .news-block__item-info
                        .news-block__item-name Объявление о начале нового этапа конкурса
                        .news-block__item-data
                            .news-block__item-data-author
                                img(src='img/ui/user.png')
                                .news-block__item-data-text Admin
                            .news-block__item-data-time
                                img(src='img/ui/time.png')
                                .news-block__item-data-text 06.12.2019
                .news-block__item_right
                    a(href='#').btn-outline Подробнее
            .news-block__item
                .news-block__item_left
                    img.news-block__item-img(src='img/uploads/news.png')
                    .news-block__item-info
                        .news-block__item-name Объявление о начале нового этапа конкурса
                        .news-block__item-data
                            .news-block__item-data-author
                                img(src='img/ui/user.png')
                                .news-block__item-data-text Admin
                            .news-block__item-data-time
                                img(src='img/ui/time.png')
                                .news-block__item-data-text 06.12.2019
                .news-block__item_right
                    a(href='#').btn-outline Подробнее
            .news-block__item
                .news-block__item_left
                    img.news-block__item-img(src='img/uploads/news.png')
                    .news-block__item-info
                        .news-block__item-name Объявление о начале нового этапа конкурса
                        .news-block__item-data
                            .news-block__item-data-author
                                img(src='img/ui/user.png')
                                .news-block__item-data-text Admin
                            .news-block__item-data-time
                                img(src='img/ui/time.png')
                                .news-block__item-data-text 06.12.2019
                .news-block__item_right
                    a(href='#').btn-outline Подробнее
            .news-block__item
                .news-block__item_left
                    img.news-block__item-img(src='img/uploads/news.png')
                    .news-block__item-info
                        .news-block__item-name Объявление о начале нового этапа конкурса
                        .news-block__item-data
                            .news-block__item-data-author
                                img(src='img/ui/user.png')
                                .news-block__item-data-text Admin
                            .news-block__item-data-time
                                img(src='img/ui/time.png')
                                .news-block__item-data-text 06.12.2019
                .news-block__item_right
                    a(href='#').btn-outline Подробнее


    .block-info.news
        .video-block
            .video-block__item
               .video-block__item-name Название видео блабла
               video.video-player(poster='/img/users/foxx.jpg', playsinline='', controls='')
                   source(src='/img/uploads/1.mp4', type='video/mp4')
               .news-block__item-data.center
                    .news-block__item-data-author
                        img(src='img/ui/user.png')
                        .news-block__item-data-text Admin
                    .news-block__item-data-time
                        img(src='img/ui/time.png')
                        .news-block__item-data-text 06.12.2019
            .video-block__item
               .video-block__item-name Название видео блабла
               video.video-player(poster='/img/users/foxx.jpg', playsinline='', controls='')
                   source(src='/img/uploads/1.mp4', type='video/mp4')
               .news-block__item-data.center
                    .news-block__item-data-author
                        img(src='img/ui/user.png')
                        .news-block__item-data-text Admin
                    .news-block__item-data-time
                        img(src='img/ui/time.png')
                        .news-block__item-data-text 06.12.2019



include components/footer
- libs = [{'name': 'plyr.js'}, {'name':'main.js'}]
+footer(libs)

