include components/header
+header('Регистрация', 'Глобальная игра')

.wrapper
  .block-lg.block-center.reg
    h3.reg__text Регистрация на игру "100 дней"
    if error
      p.alert #{error}
    form.form#formReg(action="/reg/register" method="post")
      .form__item
        label.form__label Градация
        .radio-group
          input#user(type='radio', name='gradation' value='участник')
          label.radio(for='user') Участник
          input#coach(type='radio', name='gradation' value='тренер')
          label.radio(for='coach') Тренер
          input#mentor(type='radio', name='gradation' value='наставник')
          label.radio(for='mentor') Наставник
      .form__item
        label.form__label ФИО
        input.form__input(type='text', placeholder='Ваше ФИО', autocomplete='on' id='userFirstName', name='name')
        input(type="hidden" name="_csrf" value=csrf)

      .form__item
        label.form__label Возраст
        input.form__input(type='text', placeholder='Сколько вам полных лет?', autocomplete='on' id='userAge', name='age')

      .form__item
        label.form__label Регион
        input.form__input(type='text', placeholder='Регион проживания', autocomplete='on' id='userRegion', name='region')

      .form__item
        label.form__label Email
        input.form__input(type='email', placeholder='Ваш email', autocomplete='on' id='userEmail', name='email')
        
      .form__item#about(style="display: none;")
        label.form__label О себе
        input.form__input(type='text', placeholder='Немного о себе', autocomplete='on' id='userAbout', name='about')

      .form__item#achievements(style="display: none;")
        label.form__label Достижение
        input.form__input(type='text', placeholder='Достижения', autocomplete='on' id='userAchievements', name='achievements')

      .form__item#team(style="display: none;")
         label.form__label Инициатива
         select.form-control.select(name='team')
          option(value='доходы') Увеличение доходов граждан
          option(value='мсб') Развитие МСБ
          option(value='рост') Развитие социального, лифткарьерного и профессионального роста

      .form__item
        label.form__label Добавить фото профиля
        input.add-video(type='file', accept='.jpg, .png, .jpeg')
        button.btn-green.imit-video Выбрать файл
        div.selected-file

      .form__item
        label.form__label Пароль
        input.form__input(type='password', placeholder='•••••••', autocomplete='on' id='userPassword' name='password')

      .form__item
        label.form__label Повторите пароль
        input.form__input(type='password', placeholder='•••••••', autocomplete='on' id='userRepeatPassword' name='repeatPassword')

      .form__item
        input#terms.inp-cbx(type='checkbox', style='display: none')
        label.cbx(for='terms')
          span
            svg(width='12px', height='10px', viewbox='0 0 12 10')
              polyline(points='1.5 6 4.5 9 10.5 1')
          span Я принимаю&nbsp;
            a(href='') пользовательское соглашение

      .form__item
        button.btn-green.reg-btn(disabled='') Создать аккаунт

include components/footer
- libs = [{'name': 'datepicker.js'}, {'name': 'main.js'}]
+footer(libs)
script.
  window.addEventListener('DOMContentLoaded', function() {
    var datePicker = document.querySelector('input[id="userBirthDay"]')
    datePicker.DatePickerX.init({

    })

  })
