.date-picker-x-container {
  position: relative;
}

.date-picker-x {
  background: #57ABE5;
  box-sizing: content-box;
  color: #fff;
  display: none;
  font: 18px/1 Arial;
  padding: 10px;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 308px;
  z-index: 1;

  &::before {
    border-color: #444 transparent;
    border-style: solid;
    border-width: 0 10px 10px;
    bottom: 100%;
    content: "";
    left: 20px;
    position: absolute;
  }

  &.to-top {
    bottom: 100%;
    top: auto;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);

    &::before {
      border-width: 10px 10px 0;
      bottom: auto;
      top: 100%;
    }
  }

  &.active {
    display: block;
  }

  * {
    box-sizing: border-box;
  }

  .dpx-title-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .dpx-prev, .dpx-next {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    display: block;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    transition: .2s;
    width: 50px;
  }

  .dpx-prev:hover, .dpx-next:hover {
    color: #fff;
  }

  .dpx-title {
    display: block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 10px;
  }

  &:not([data-dpx-type="year"]) .dpx-title {
    cursor: pointer;
  }

  .dpx-content-box {
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 288px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
  }

  .dpx-btns {
    border-top: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;

    .dpx-item {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0;
      flex: 1 1 0;
      height: 30px !important;
    }
  }

  .dpx-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:not(.dpx-weekday) {
      cursor: pointer;

      &:hover {
        background: white;
        color: #57ABE5;
      }
    }
  }

  .dpx-weekday {
    font-size: 15px;
    height: 24px !important;
  }

  &[data-dpx-type="day"] .dpx-item {
    -ms-flex-preferred-size: 44px;
    flex-basis: 44px;
    height: 44px;
  }

  .dpx-current {
    box-shadow: inset 0 0 0 2px #66a3ff;
  }

  .dpx-selected {
    background: #06f;
  }

  .dpx-weekend {
    color: #fff;
  }

  .dpx-out {
    color: #ccc;
  }

  .dpx-disabled {
    color: #666 !important;
    cursor: default !important;
    box-shadow: none !important;

    &.dpx-current {
      box-shadow: inset 0 0 0 2px #66a3ff !important;
    }
  }
}