// px to rem
@mixin posCenter {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

